<%= page_title %>
<!--页面结构-->
<div class="page-block">
  <table class="page-block-header"><tr>
    <td class="page-block-title">
      <h2 class="block-title"><%= t(:label_irm_report_request_history_list) %></h2>
    </td>
    <td class="page-block-button"></td>
    <td class="page-block-help">
      <div id="searchBox"></div>
    </td>
  </tr></table>
  <div class="page-block-body">
    <div id="histories"></div>
    <%= datatable("histories",{:action=>"get_data",:format=>"json"},[],{:search_box=>"searchBox",:paginator_box=>"paginatorBox"})%>
    <div id="paginatorBox"></div>
  </div>
</div>

<div class="listRelatedObject setupBlock">
    <div class="page-block">
      <div class="pbHeader">
        <table cellpadding="0" cellspacing="0" border="0">
          <tbody>
            <tr>
              <td class="pbTitle"><h2 class="mainTitle"><%= t(:label_irm_report_request_history_list) %></h2></td>
              <td id="topButtonRow" class="pbButton">
              </td>
              <td class="pbHelp">
                <div id="historiesSearchBox"></div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="pbBody">
        <div id="histories" class="datatable" style="width:100%">

        </div>
        <%= datatable("histories",{:action=>"get_data",:format=>"json"},
                      [{:key=>"report_name",:label=>t(:label_irm_report_request_history_report),:searchable=>true},
                       {:key=>"executed_name",:label=>t(:label_irm_report_request_history_executed_by),:searchable=>true,:width=>"150px"},
                       {:key=>"start_at",:label=>t(:label_irm_report_request_history_start_at),:searchable=>true,:width=>"150px"},
                       {:key=>"end_at",:label=>t(:label_irm_report_request_history_end_at),:searchable=>true,:width=>"150px"},
                       {:key=>"elapse",:label=>t(:label_irm_report_request_history_elapse),:width=>"70px"},
                       {:key=>"execute_type",:label=>t(:label_irm_report_request_history_execute_type),:formatter=>"Y.irm.template",:width=>"70px"}
                       ],{:paginator_box=>"historiesPaginatorBox",:search_box=>"historiesSearchBox"})%>
        <div id="historiesPaginatorBox"></div>
      </div>
    </div>
</div>