<%= form_for(@wf_approval_step,:url=>{:action=>"create"},:builder => CustomFormBuilder) do |f| %>


  <% content_for :form_block_a   do%>
    <%= f.hidden_field(:step) %>
    <table class="form-table">
      <tbody>

        <tr>
          <td class="label-col"><label><%=f.radio_button(:approver_mode,"SELECT_BY_SUMBITTER",:id=>"bySubmitter",:class=>"typeButton")%></label></td>
          <td class="data-3col" colspan="3"><label for="bySubmitter"><%=t(:label_irm_wf_approval_step_approver_mode_by_approver)%></label></td>
        </tr>
        <% if @wf_approval_process.next_approver_mode.present? %>
        <tr>
          <td class="label-col"><label><%=f.radio_button(:approver_mode,"PROCESS_DEFAULT",:id=>"processDefault",:class=>"typeButton")%></label></td>
          <td class="data-3col" colspan="3"><label for="processDefault"><%=t(:label_irm_wf_approval_step_approver_mode_process_default)%> (<%=@wf_approval_process[:next_approver_mode_name]%>)  </label></td>
        </tr>
        <% end %>
        <tr>
          <td class="label-col"><label><%=f.radio_button(:approver_mode,"AUTO_APPROVER",:id=>"autoApprover",:class=>"typeButton")%></label></td>
          <td class="data-3col" colspan="3">
            <label for="autoApprover"><%=t(:label_irm_wf_approval_step_approver_mode_auto)%></label>
          </td>
        </tr>
        <tr class="showTR" refValue="AUTO_APPROVER" style="display:none">
          <td class="label-col"></td>
          <td class="data-3col" colspan="3" >
              <%= render :partial => "step_approver",:locals => {:f=>f} %>
          </td>
        </tr>
        <tr>
          <td class="label-col"><%= f.check_box(:allow_delegation_approve,:id=>"allow_delegation_approve") %></td>
          <td class="data-col"><label for="allow_delegation_approve"><%=t(:label_irm_wf_approval_step_allow_delegation_approve)%></label></td>
          <td class="label-col">&nbsp;</td>
          <td class="data-col">&nbsp;</td>
        </tr>
      </tbody>
    </table>
  <% end %>

    <% content_for :form_block_b   do%>
        <% unless 1.eql?(@wf_approval_step.step_number.to_i) %>
          <div class="sub-page-block">
            <div class="sub-page-block-header">
              <h3 class="sub-page-block-title"><%= t(:label_irm_wf_approval_process_submit_config)  %></h3>
            </div>
            <div class="sub-page-block-body">
              <table class="form-table">
                <tbody>
                    <tr>
                      <td class="label-col"><%=f.radio_button(:reject_behavior,"REJECT_STEP",:id=>"rejectStep",:class=>"rejectBehaviorButton")%></td>
                      <td class="data-3col" colspan="3" width="82%"><label for="rejectStep"><%=t(:label_irm_wf_approval_step_reject_behavior_step_reject)%></label></td>
                    </tr>
                    <tr>
                      <td class="label-col"><%=f.radio_button(:reject_behavior,"REJECT_PROCESS",:id=>"rejectProcess",:class=>"rejectBehaviorButton")%></td>
                      <td class="data-3col" colspan="3" width="82%">
                        <label for="rejectProcess"><%=t(:label_irm_wf_approval_step_reject_behavior_process_reject)%></label>
                      </td>
                    </tr>
                </tbody>
              </table>
            </div>
          </div>
        <% end %>
   <% end %>

  <% content_for :form_buttons  do %>
        <%= link_to t(:last), {:action => "new",:pre_step=>true},{:class=>"submit btn"} %>
        <%= link_submit t(:save),{:class=>"btn"} %>
        <%= link_back t(:cancel), {},:class=>"btn" %>
  <% end %>



    <!--页面结构-->
    <div class="page-block">
      <table class="page-block-header"><tr>
        <td class="page-block-title">
          <h2 class="block-title"><%= t(:step_n, :n => "3") %><%= t(:label_irm_wf_approval_step_select_approver) %></h2>
        </td>
        <td class="page-block-button">
          <%= content_for :form_buttons   %>

        </td>
        <td class="page-block-help">
          <h2 class="block-title"><%= t(:step_n_total_m, :n => "3", :m => "3") %></h2>
        </td>
      </tr></table>
      <div class="page-block-body">
        <%= error_for @wf_approval_process%>
        <div class="sub-page-block">
          <div class="sub-page-block-header">
            <%= form_require_info %>
            <h3 class="sub-page-block-title"><%= t(:label_irm_wf_approval_step_select_approver)  %></h3>
          </div>
          <div class="sub-page-block-body">
            <%= content_for :form_block_a   %>
          </div>
        </div>
        <%= content_for :form_block_b   %>
      </div>

      <table class="page-block-footer"><tr>
        <td class="page-block-title">
        </td>
        <td class="page-block-button">
          <%= content_for :form_buttons   %>
        </td>
      </tr></table>
    </div>

<% end %>
<script type="text/javascript">
    $(function(){
        $("input.typeButton").click(function(e){
            $(".showTR").css("display","none");
            $(".showTR .updateValue").attr("disabled","true");
            var showTR = $(".showTR[refValue="+$(e.target).val()+"]:first");
            if(showTR){
                showTR.css("display","");
                showTR.find(".updateValue").removeAttr("disabled");
            }
        });
        $.checkRadioButton("input.typeButton");
        $.checkRadioButton("input.multipleApproveModeButton");
        $.checkRadioButton("input.rejectBehaviorButton");
    });
</script>
