<%= page_title %>
<!--页面结构-->
<div class="page-block">
  <table class="page-block-header"><tr>
    <td class="page-block-title">
      <h2 class="block-title"><%= t(:label_irm_data_access_list_opu) %></h2>
    </td>
    <td class="page-block-button">
      <%= link_to(t(:edit),{:action=>"edit"},:back=>true,:class=>"btn") %>
    </td>
  </tr></table>
  <div class="page-block-body">
    <%=datatable_view({:count=>@data_accesses.count,:datas=>@data_accesses}) do |builder|%>
      <% builder.column(:business_object_name,{:title=>t(:label_irm_data_access_business_object)})%>
      <% builder.column(:access_level_name,{:title=>t(:label_irm_data_access_access_level)})%>
      <% builder.column(:hierarchy_access_flag,{:title=>t(:label_irm_data_access_hierarchy_access_flag)}) do |data|%>
        <%= check_img(data[:hierarchy_access_flag]) %>
      <% end %>
    <% end %>
  </div>
</div>
<style type="text/css">
  .org-access-table {
      text-align: left;
  }
</style>
<div class="page-block">
  <table class="page-block-header"><tr>
    <td class="page-block-title">
      <h2 class="block-title"><%= t(:label_irm_data_access_list_org) %></h2>
    </td>
  </tr></table>
  <div class="page-block-body">
      <table class="show-table">
        <tbody>
            <tr>
              <td style="width:1%">
                <div id="tree-div"><%= organizations_tree_data  %></div>
              </td>
              <td class="org-access-table" style="vertical-align:top;">
                <div id="dataAccess" style="width:100%;" href="<%= url_for(:controller => "org_data_accesses",:action=>"show",:id=>"{org_id}",:org_name=>"{org_name}")%>"></div>
              </td>
            </tr>
        </tbody>
      </table>
  </div>
</div>
<script type="text/javascript">
  $(function(){
      $("#organizations").treeview({
         animated: "fast",
         collapsed: true,
         unique: false,
         persist: "cookie"
      });
      $('#organizations a.org').live('click', function(event){
           var dataAccess = $("#dataAccess");
           var url = decodeURIComponent(dataAccess.attr("href"));
           url = url.replace("{org_id}",$(event.currentTarget).attr("ref"));
           url = url.replace("{org_name}",$(event.currentTarget).html());
           dataAccess.attr("ref",$(event.currentTarget).attr("ref"));
           if(url.indexOf("?") > 0) {
               url += "&_dom_id=dataAccess"
           }else{
               url += "?_dom_id=dataAccess"
           }
           dataAccess.load(url);
      });
      $('#organizations a.org:first').trigger("click");
      $(".loadButton").live("click",function(event){
          var dataAccess = $("#dataAccess");
          var node = $(event.currentTarget);
          var url = decodeURIComponent(node.attr("load_href"));
          url = url.replace("{org_id}",dataAccess.attr("ref"));
          if(url.indexOf("?") > 0) {
              url += "&_dom_id=dataAccess"
          }else{
              url += "?_dom_id=dataAccess"
          }
          dataAccess.load(url);
      })
    });

</script>
<!--business object data share rule begin-->
<% @data_accesses.each do |data_access| %>
    <!--页面结构-->
    <div class="page-block">
      <table class="page-block-header"><tr>
        <td class="page-block-title">
          <h2 class="block-title"><%=data_access[:business_object_name]+t(:label_irm_data_share_rule)  %></h2>
        </td>
        <td class="page-block-button">
          <%= link_to(t(:new),{:controller => "irm/data_share_rules",:action=>"new",:business_object_id=>data_access[:business_object_id]},:back=>true,:class=>"btn") %>
        </td>
      </tr></table>
      <div class="page-block-body">
        <%=datatable_view({:count=>get_rules(data_access[:business_object_id]).count,:datas=>get_rules(data_access[:business_object_id])}) do |builder|%>
          <% builder.column(:id,{:title=>t(:operation),:width=>"60px"}) do |rule| %>
            <%= bootstrap_icons("icon-edit",t(:edit),{:controller => "irm/data_share_rules",:action=>"edit",:id=>"#{rule[:id]}"}) %>&nbsp;
            <%= bootstrap_icons(" icon-trash",t(:delete),{:controller => "irm/data_share_rules",:action=>"destroy",:id=>"#{rule[:id]}"},{:back=>true,:method => :delete,:confirm => t(:label_are_you_sure) }) %>
          <% end %>
          <% builder.column(:name,{:title=>t(:name)})%>
          <% builder.column(:business_object_name,{:title=>t(:label_irm_data_access_business_object)})%>
          <% builder.column(:source_name,{:title=>t(:label_irm_data_share_rule_belong_to)}) do |rule|%>
            <%= rule[:source_type]+' '+rule[:source_name] %>
          <% end %>
          <% builder.column(:target_name,{:title=>t(:label_irm_data_share_rule_share_with)}) do |rule|%>
            <%= rule[:target_type]+' '+rule[:target_name] %>
          <% end %>
          <% builder.column(:access_level_name,{:title=>t(:label_irm_data_access)})%>
        <% end %>
      </div>
    </div>
<% end %>

