<%= form_for(@report_folder,:url=>{:action=>"update"},:builder => CustomFormBuilder) do |f| %>
  <% content_for :form_block_common   do%>
    <table class="form-table">
      <tbody>
          <tr>
            <td class="label-col"><label for="report_folder_code"><%=t(:label_irm_report_folder_code)%></label></td>
            <td class="data-col"><label><%= @report_folder.code %></label></td>
            <td class="label-col empty">&nbsp;</td>
            <td class="data-col empty">&nbsp;</td>
          </tr>
          <tr>
            <td class="label-col"><label for="report_folder_name"><%=t(:label_irm_report_folder_name)%></label></td>
            <td class="data-col"><%=f.text_field :name, :required=>true ,:id=>"report_folder_name"%></td>
            <td class="label-col empty">&nbsp;</td>
            <td class="data-col empty">&nbsp;</td>
          </tr>
          <tr>
            <td class="label-col"><label for="report_folder_member_type"><%=t(:label_irm_report_folder_member_type)%></label></td>
            <td class="data-col" colspan="3" width="82%">
              <% available_report_folder_member_type.each_with_index do |v,i|  %>
                <div>
                  <%=f.radio_button(:member_type,v[1],:id=>"memberType#{i}",:class=>"memberType")%> <label for="memberType<%=i%>"><%= v[0] %></label>
                </div>
              <% end %>
            </td>
          </tr>
          <tr>
            <td class="label-col">

            </td>
            <td class="data-col" colspan="3">
              <%= render :partial => "irm/duel_select/tmpl",:locals => {:f=>f,:types=>duel_types,:sources=>duel_values,:str_value_field=>:member_str,:str_value=>@report_folder.get_member_str,:order=>true,:size=>7} %>
            </td>
          </tr>
          <tr id="accessType">
            <td class="label-col"><label for="report_folder_access_type"><%=t(:label_irm_report_folder_access_type)%></label></td>
            <td class="data-col"><%=f.select :access_type,available_report_folder_access_type ,{:required=>true} ,:id=>"report_folder_access_type"%></td>
            <td class="label-col empty">&nbsp;</td>
            <td class="data-col empty">&nbsp;</td>
          </tr>
      </tbody>
    </table>
  <% end %>
  <% content_for :form_buttons  do %>
    <%= link_submit t(:save),{:class=>"btn btn-primary"}%>
    <%= link_back t(:cancel),{},{:class=>"btn cancel"}%>
  <% end %>

  <!--页面结构-->
  <div class="page-block">
    <table class="page-block-header"><tr>
      <td class="page-block-title">
        <h2 class="block-title"><%=t(:label_irm_report_folder_edit)%></h2></h2>
      </td>
      <td class="page-block-button">
        <%= content_for :form_buttons   %>
      </td>
    </tr></table>
    <%= error_for @report_folder %>
    <div class="page-block-body">
      <div class="sub-page-block">
        <div class="sub-page-block-header">
          <%= form_require_info %>
          <h3 class="sub-page-block-title"><%= t(:label_common_info) %></h3>
        </div>
        <div class="sub-page-block-body">
          <%= content_for :form_block_common   %>
        </div>
      </div>

    </div>

    <table class="page-block-footer"><tr>
      <td class="page-block-title">
      </td>
      <td class="page-block-button">
        <%= content_for :form_buttons   %>
      </td>
    </tr></table>
  </div>
<% end %>

<script type="text/javascript">
$(function(){
    $("input.memberType").click(function(e){
        if($(e.target).val()=="MEMBER"){
          $("#member_strDuelSelect").css("display","");
        }
        else{
          $("#member_strDuelSelect").css("display","none");
        }
        if($(e.target).val()=="PRIVATE"){
          $("#accessType").css("display","none");
        }
        else{
          $("#accessType").css("display","");
        }
    });
    $.checkRadioButton("input.memberType");
});

</script>