<%= page_title %>
<div class="listRelatedObject setupBlock">
    <div class="page-block">
      <div class="pbHeader">
        <table cellpadding="0" cellspacing="0" border="0">
          <tbody>
            <tr>
              <td class="pbTitle"><h2 class="mainTitle"><%= t(:label_irm_report_folder_list) %></h2></td>
              <td id="topButtonRow" class="pbButton">
                <div class="button"><%= link_to t(:new), {:action => "new"}%></div>
              </td>
              <td class="pbHelp">
                <div id="report_foldersSearchBox"></div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="pbBody">
        <div id="report_folders" class="datatable" style="width:100%">
          <div id="id" style="display:none">
            <%= link_to(t(:edit),{:action=>"edit",:id=>"{id}"}) %>|<%= link_to(t(:show),{:action=>"show",:id=>"{id}"}) %>
          </div>
        </div>
        <%= datatable("report_folders",{:action=>"get_data",:format=>"json"},
                      [{:key=>"id",:label=>t(:operation),:formatter=>"Y.irm.template",:width=>"70px"},
                                              { :key => "name", :label => t(:label_irm_report_folder_name),:searchable=>true },
                                              { :key => "code", :label => t(:label_irm_report_folder_code),:searchable=>true },
                                              { :key => "access_type", :label => t(:label_irm_report_folder_access_type),:searchable=>true },
                                              { :key => "member_type", :label => t(:label_irm_report_folder_member_type),:searchable=>true }
                                              ],{:paginator_box=>"report_foldersPaginatorBox",:search_box=>"report_foldersSearchBox"})%>
        <div id="report_foldersPaginatorBox"></div>
      </div>
    </div>
</div>


