<%= datatable_view({:count => @count, :datas => @datas}) do |builder| %>
    <% builder.column(:id, {:title => t(:operation), :width => "100px"}) do |data| %>
        <%= link_to(t(:edit), {:action => "edit", :id => data[:id]}, :class => "action-link") %>&nbsp;|
        <%= link_to(t(:show), {:action => "show", :id => data[:id]}, :class => "action-link") %>&nbsp;|
        <a onclick="show_sync_wnd(event,'<%= data[:id]%>')" href="javascript:void(0)"><%= t(:sync) %></a>
    <% end %>
    <% builder.column(:ldap_source_name, {:title => t(:ldap_auth_header_ldap_source), :searchable => true}) %>
    <% builder.column(:name, {:title => t(:ldap_auth_header_auth_name), :searchable => true}) %>
    <% builder.column(:auth_cn, {:title => t(:ldap_auth_header_auth_cn), :searchable => true}) %>
    <% builder.column(:description, {:title => t(:ldap_auth_header_description), :searchable => true}) %>
    <% builder.column(:base_dn, {:title => t(:label_irm_ldap_source_base_dn)}) %>
    <% builder.column(:status_code, {:title => t(:active), :width => "40px"}) do |data| %>
        <%= check_img(data[:status_code]) %>
    <% end %>
<% end %>