<%= common_title(:action_meaning=>t(:label_common_info)) %>
<!--页面结构-->
<div class="show-block">
  <table class="page-block-header">
    <tr>
        <td class="page-block-title">
          <h2 class="block-title"><%= t(:label_irm_mail_setting) %></h2>
        </td>
        <td class="page-block-button">
          <%= link_to t(:edit), {:action => "edit"},:class => "btn btn-primary" %>
        </td>
    </tr>
  </table>
  <div class="page-block-body">
    <!-- 邮件服务器 -->
    <div class="sub-page-block">
      <div class="sub-page-block-header">
        <h3 class="sub-page-block-title"><%=t(:label_irm_mail_server)%></h3>
      </div>
      <div class="sub-page-block-body">
        <table class="show-table">
          <tbody>
              <tr>
                <td class="label-col"><label><%= t :label_irm_mail_username %></label></td>
                <td class="data-2col"><%= @smtp_setting.username%></td>
              </tr>
              <tr>
                <td class="label-col"><label><%= t :label_irm_mail_password %></label></td>
                <td class="data-2col"><%= @smtp_setting.password%></td>
              </tr>
              <tr>
                <td class="label-col"><label><%= t :label_irm_mail_timeout %></label></td>
                <td class="data-2col"><%= @smtp_setting.timeout%></td>
              </tr>
          </tbody>
        </table>
      </div>
    </div>
    <!-- SMTP邮件服务器 -->
    <div class="sub-page-block">
      <div class="sub-page-block-header">
        <h3 class="sub-page-block-title"><%=t(:label_irm_mail_smtp_server)%></h3>
      </div>
      <div class="sub-page-block-body">
        <table class="show-table" cellpadding="0" cellspacing="0" border="0">
          <tbody>
              <tr>
                <td class="label-col"><label><%= t :label_irm_mail_smtp_host_name %></label></td>
                <td class="data-2col"><%= @smtp_setting.host_name%>
                </td>
              </tr>
              <tr>
                <td class="label-col"><label><%= t :label_irm_mail_from_address %></label></td>
                <td class="data-2col"><%= @smtp_setting.from_address%>
                </td>
              </tr>
              <tr>
                <td class="label-col"><label><%= t :label_irm_mail_prefix %></label></td>
                <td class="data-2col"><%= @smtp_setting.email_prefix%>
                </td>
              </tr>
              <tr>
                <td class="label-col"><label><%= t :label_irm_mail_smtp_port %></label></td>
                <td class="data-2col"><%= @smtp_setting.port%>
                </td>
              </tr>
          </tbody>
        </table>
      </div>
    </div>
    <!-- POP/IMAP邮件服务器 -->
    <div class="sub-page-block">
      <div class="sub-page-block-header">
        <h3 class="sub-page-block-title"><%=t(:label_irm_mail_imap_server)%></h3>
      </div>
      <div class="sub-page-block-body">
        <table class="show-table">
          <tbody>
              <tr>
                <td class="label-col"><label><%= t :label_irm_mail_imap_host_name %></label></td>
                <td class="data-2col"><%= @imap_setting.host_name%>
                </td>
              </tr>
              <tr>
                <td class="label-col"><label><%= t :label_irm_mail_protocol %></label></td>
                <td class="data-2col"><%= @imap_setting.protocol%>
                </td>
              </tr>
              <tr>
                <td class="label-col"><label><%= t :label_irm_mail_imap_port %></label></td>
                <td class="data-2col"><%= @imap_setting.port%>
                </td>
              </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
