<% time_triggers.each do |time_trigger|%>
  <div class="min-block">
    <div class="min-block-header">
      <img class="min-block-icon" width="16" height="16" src="<%= theme_image_path("icons/alarm_clock.gif") %>"/>
      <span class="min-block-title"><%=time_trigger.meaning%></span>
      <span class="min-block-button">
        <%= link_to(t(:edit),:controller=>"irm/wf_rule_time_triggers",:action=>"edit",:id=>time_trigger.id,:rule_id=>time_trigger.rule_id,:back_url=>url_for({}))%> |
        <%= link_to(t(:delete),{:controller=>"irm/wf_rule_time_triggers",:action=>"destroy",:id=>time_trigger.id,:rule_id=>time_trigger.rule_id,:back_url=>url_for({})},{:confirm => t(:label_are_you_sure) ,:method => :delete})%>
      </span>
    </div>
    <div class="min-block-body">
         <div>
           <%= render(:partial =>"time_trigger_actions",:locals => {:actions=>wf_rule_time_trigger_actions(time_trigger.rule_id,time_trigger.id)}) %>
         </div>
         <div>
           <div class="btn-group">
             <% unless @wf_rule.enabled?%>
               <button data-toggle="dropdown" class="btn dropdown-toggle"><%= t(:label_irm_wf_rule_add_actions)  %><span class="caret"></span></button>
             <% else %>
               <button data-toggle="dropdown" disabled="true" class="btn dropdown-toggle"><%= t(:label_irm_wf_rule_add_actions)  %><span class="caret"></span></button>
             <% end %>
             <ul class="dropdown-menu">
               <li><%= link_to(t(:label_irm_wf_mail_alert_new),{:controller => "irm/wf_mail_alerts",:action => "new",:source_str=>"WF_RULE_TIME_TRIGGER,#{time_trigger.rule_id},#{time_trigger.id}",:back_url=>url_for({})}) %></li>
               <li><%= link_to(t(:label_irm_wf_field_update_new),{:controller => "irm/wf_field_updates",:action => "new",:source_str=>"WF_RULE_TIME_TRIGGER,#{time_trigger.rule_id},#{time_trigger.id}",:back_url=>url_for({})}) %></li>
               <li><%= link_to(t(:label_action_add_exists_action),{:action => "add_exists_action",:trigger_id=>time_trigger.id,:back_url=>url_for({})}) %></li>
             </ul>
           </div>
         </div>
    </div>
  </div>
<%end%>