<%= common_title(:show_data=>@lane[:name]) %>

<!--页面结构-->
<div class="show-block">
  <table class="page-block-header"><tr>
    <td class="page-block-title">
      <h2 class="block-title"><%= t(:label_irm_lane) %></h2>
    </td>
    <td class="page-block-button">
      <%= link_to t(:edit), {:action => "edit", :id => @lane},:class=>"btn btn-primary"%>
      <%= link_to t(:back), {:action => "index"},:class=>"btn" %>
    </td>
  </tr></table>
  <div class="page-block-body">
    <table class="show-table">
      <tbody>
          <tr>
            <td class="label-col"><label><%=(t :label_irm_lane_code)%></label></td>
            <td class="data-2col"><div><%= @lane.lane_code%></div></td>
          </tr>
          <tr>
            <td class="label-col"><label><%=(t :name)%></label></td>
            <td class="data-2col"><div><%= @lane[:name]%></div></td>
          </tr>
          <tr>
            <td class="label-col"><label><%=(t :description)%></label></td>
            <td class="dataCol"><%= @lane[:description]%></td>
          </tr>
          <tr>
            <td class="label-col"><label><%=(t :active)%></label></td>
            <td class="data-2col"><div><%= check_img(@lane.status_code)%></div></td>
          </tr>
      </tbody>
    </table>
  </div>
</div>

<!--页面结构-->
<div class="page-block">
  <table class="page-block-header"><tr>
    <td class="page-block-title">
      <h2 class="block-title"><%=t(:label_irm_lane_owned_cards)%></h2>
    </td>
    <td class="page-block-button">
      <%= link_to t(:label_irm_lane_add_card), {:controller=>"irm/lanes",:action => "select_cards",:id=>@lane.id},:class => "btn"%>
    </td>
  </tr></table>
  <div class="page-block-body">
    <div id="owned_cards_list"></div>
    <%= datatable("owned_cards_list",{:controller=>"irm/lanes",:action=>"get_owned_cards",:id=>@lane.id},[])%>
  </div>
</div>

<%=render :partial=>"multilingual/show",:locals=>{:main_data=>@lane} %>