<%= setting_title %>
<%= form_for(@product_module,:url=>{:action=>"update"},:builder => CustomFormBuilder) do |f| %>
  <% content_for :form_block_common   do%>
    <table class="form-table">
      <tbody>
          <tr>
            <td class="labelCol"><label><%=(t :label_irm_product_module_product_short_name)%></label></td>
            <td class="dataCol"><%=f.text_field :product_short_name, :required=>true,:irm_uppercase=>true %></td>
            <td class="labelCol"><label><%=(t :label_irm_product_module_name)%></label></td>
            <td class="dataCol"><%=f.text_field :name, :required=>true%></td>
          </tr>
          <tr>
            <td class="labelCol"><label><%=t(:label_irm_product_module_description)%></label></td>
            <td class="dataCol"><%= f.text_area :description, :rows => 4%></td>
            <td class="labelCol empty">&nbsp;</td>
            <td class="dataCol empty">&nbsp;</td>
          </tr>
          <tr>
            <td class="labelCol"><label><%=(t :label_irm_product_module_installed_flag)%></label></td>
            <td class="dataCol"><%=f.check_box :installed_flag, :value => "Y"%></td>
            <td class="labelCol empty">&nbsp;</td>
            <td class="dataCol empty">&nbsp;</td>
          </tr>
          <tr>
            <td class="labelCol"><label><%=(t :active)%></label></td>
            <td class="dataCol"><%=f.select :status_code, available_active_status, {:include_blank => false}%></td>
            <td class="labelCol empty">&nbsp;</td>
            <td class="dataCol empty">&nbsp;</td>
          </tr>
      </tbody>
    </table>
  <% end %>
  <% content_for :form_buttons  do %>
    <%= link_submit t(:save),{:class=>"btn btn-primary"}%>
    <%= link_to t(:cancel), {:action=>"index"}, {:class => "btn cancel"}%>
  <% end %>

  <!--页面结构-->
  <div class="page-block">
    <table class="page-block-header">
      <tr>
        <td class="page-block-title">
          <h2 class="block-title"><%=t(:label_irm_product_module_edit)%></h2>
        </td>
        <td class="page-block-button">
          <%= content_for :form_buttons   %>
        </td>
      </tr>
    </table>
    <div class="page-block-body">
      <div class="sub-page-block">
        <!-- 一般信息 -->
        <div class="sub-page-block-header">
          <%= form_require_info %>
          <h3 class="sub-page-block-title"><%= t(:label_common_info) %></h3>
        </div>
        <%= error_for @product_module%>
        <div class="sub-page-block-body">
          <%= content_for :form_block_common   %>
        </div>
      </div>
    </div>
    <table class="page-block-footer">
      <tr>
        <td class="page-block-title"></td>
        <td class="page-block-button">
          <%= content_for :form_buttons   %>
        </td>
      </tr>
    </table>
  </div>
<% end %>
