<%= common_title(:show_data=>@bulletin.title) %>
<!--页面结构-->
<div class="page-block">
  <table class="page-block-header"><tr>
    <td class="page-block-title">
      <h2 class="block-title"></h2>
    </td>
    <td class="page-block-button">
      <%= link_to t(:edit), {:action => "edit"},:class=>"btn btn-primary"%>
      <%= link_to t(:delete), {:action => "destroy", :id => @bulletin},:method => :delete,:confirm => t(:label_are_you_sure),:class => "btn"%>
      <%= link_to t(:back), {:action => "index", :controller => "irm/home"},:class=>"btn btn-cancel" %>
    </td>
  </tr></table>
  <div class="page-block-body">
    <div class="page-block-subheader tertiary-palette">
      <div align="center">
        <span style="font-size:20px !important;"><%= @bulletin.title%></span><br>
        <span style="font-size:12px !important;font-weight:normal;">
          <%= Irm::Person.find(@bulletin.author_id).name%>&nbsp;&nbsp;&nbsp;
          <%= @bulletin.created_at.strftime("%Y-%m-%d %H:%M:%S")%></span>
      </div>
    </div>

    <div class="page-block-subsection" style="margin-left:30px;margin-right:30px;">
        <pre><%= raw(@bulletin.content)%> </pre>
    </div>
    <div class="page-block-subsection" style="margin-left:30px;margin-bottom: 10px;">
       <% prepare_bulletin_files(@bulletin)%>
       <% if @bulletin_files && @bulletin_files.any? %>
       <br>
       <%= list_bulletin_file %>
       <% end %>
    </div>
  </div>
</div>

<% content_for :sidebar do %>
    <%= render :partial =>"/irm/common/recently_objects" %>
<% end %>