<div class="page-block">
  <table class="page-block-header"><tr>
    <td class="page-block-title">
      <h2 class="block-title"><%= t(:label_irm_wf_approval_step) %></h2>
    </td>
    <td class="page-block-button">
      <% unless @wf_approval_process.enabled? %>
          <%= link_to t(:label_irm_wf_approval_step_new), {:controller => "irm/wf_approval_steps", :action => "new", :process_id => @wf_approval_process.id},:back=>true,:class=>"btn"%>
      <% else %>
          <%= link_to t(:label_irm_wf_approval_step_new), {}, :disabled => true,:class=>"btn"%>
      <% end %>
    </td>
    <td class="page-block-help">
    </td>
  </tr></table>
  <div class="page-block-body">
    <% if steps.any? %>
      <div class="datatable">
              <table id='rows' >
                <thead>
                  <tr>
                    <th style="width:100px;">
                      <div><%= t(:operation) %>
                      </div>
                    </th>
                    <th style="width:60px;">
                      <div><%= t(:label_irm_wf_approval_step_step_number) %>
                      </div>
                    </th>
                    <th style="width:60px;">
                      <div><%= t(:label_irm_wf_approval_step_name) %>
                      </div>
                    </th>
                    <th style="width:120px;">
                      <div><%= t(:label_irm_wf_approval_process_description) %>
                      </div>
                    </th>
                    <th style="width:120px;">
                      <div><%= t(:label_irm_wf_approval_step_filter) %>
                      </div>
                    </th>
                    <th style="width:120px;">
                      <div><%= t(:label_irm_wf_approval_step_approver) %>
                      </div>
                    </th>
                    <th style="width:60px;">
                      <div><%= t(:label_irm_wf_approval_step_reject_behavior) %>
                      </div>
                    </th>
                  </tr>
                </thead>
                <tbody >
                <% steps.each do |step| %>
                  <tr id="<%=step.id%>">
                    <td>
                      <div>
                        <%= link_to(t(:operation),{},:href=>"javascript:void(0)",:class=>"showStepAction",:step=>step.id) %>
                        <% unless @wf_approval_process.enabled?%>
                          <%= link_to(t(:edit),{:controller => "irm/wf_approval_steps",:process_id=>step.process_id,:action=>"edit",:id=>step.id},:back=>true) %>
                          <%= link_to(t(:delete),{:controller => "irm/wf_approval_steps",:process_id=>step.process_id,:action=>"destroy",:id=>step.id},{:back=>true,:confirm => t(:label_are_you_sure) ,:method => :delete} )%>
                        <% else %>
                          <%= t(:edit) %>
                          <%= t(:delete) %>
                        <% end %>
                       </div>
                    </td>
                    <td>
                      <div>
                          <%= step.step_number %>
                       </div>
                    </td>
                    <td>
                      <div>
                          <%= step.name %>
                       </div>
                    </td>
                    <td>
                      <div>
                          <%= step.description %>
                       </div>
                    </td>
                    <td>
                      <div>
                        <%= step_evaluate_mode_meaning(step) %>
                      </div>
                    </td>
                    <td>
                      <div>
                        <%= step_approver_meaning(step,@bo_duel_value) %>
                      </div>
                    </td>
                    <td>
                      <div>
                        <%= step[:reject_behavior_name] %>
                      </div>
                    </td>
                  </tr>
                  <tr id="stepApprovalActions<%=step.id%>" class="yui3-datatable-even" style="display:none">
                    <td>

                    </td>
                    <td colspan="6">
                      <%= render :partial => "ap_step_approval_actions",:locals => {:step_id=>step.id} %>
                    </td>
                  </tr>
                  <tr id="stepRejectActions<%=step.id%>" class="yui3-datatable-even" style="display:none">
                    <td>

                    </td>
                    <td colspan="6">
                      <%= render :partial => "ap_step_reject_actions",:locals => {:step_id=>step.id} %>
                    </td>
                  </tr>
                <% end -%>
                </tbody>
              </table>
        </div>
    <% end %>
  </div>


</div>


