<style type="text/css">
    .section-heading a, .accordion-heading a {
        font-weight: bold;
    }

    .section-heading {
        margin-bottom: 2px;
        margin-top: 2px;
    }

    .section-heading .section-name {
        border: none;
        background: transparent;
    }

    .field {
        padding: 5px;
        margin-bottom: 3px;
    }

    .default-flag {
        float: right;
    }

    .close {
        float: right;
    }

    .source-container .default-flag {
        display: none;
    }

    .source-container .close {
        display: none;
    }

    .target-container div.field, .target-container div.ui-sortable-placeholder {
        width: 30%;
        display: inline-block;
    }

    .dragging {
        border: 2px dashed gray;
        min-height: 40px;
    }

    .ui-sortable-placeholder {
        border: 1px dotted #f00;
        background: #faa;
        height: 33px;
    }
    #targetSources .collapse{
        overflow: inherit;
    }
</style>
<%= page_title %>
<% require_jscss(:jquery_ui) %>


<% content_for :form_buttons  do %>
    <a class="btn linkCreateSection" href="javascript:void(0);">
      <%= t(:label_irm_report_type_define_field_and_section) %>
    </a>
    <%= link_submit t(:save),{:class=>"btn btn-primary"}%>
    <%= link_back t(:cancel),{},{:class=>"btn cancel"}%>
<% end %>


<%= form_for(@report_type, :url => {:action => "update", :format => :js}, :html => {:id => "editFields"}, :builder => LabellingFormBuilder) do |f| %>
    <%= f.hidden_field(:relationship_str, :id => "relationship_str", :value => @report_type.relationship_str||@report_type.relationship_to_s) %>

<!--页面结构-->
<div class="page-block">
  <table class="page-block-header">
    <tr>
      <td class="page-block-title">
      </td>
      <td class="page-block-button">
        <%= content_for :form_buttons   %>
      </td>
      <td class="page-block-help">
      </td>
    </tr>
  </table>
  <div class="page-block-body">
    <table class="split-table" cellpadding="0" cellspacing="0">
      <tr id="formContent">
        <%= render :partial => "form",:locals => {:report_type_id=>params[:report_type_id]} %>
      </tr>
    </table>
  </div>
</div>

<% end %>
<script type="text/javascript">
    $(function () {
        var x = $(".field-container");
        x.sortable({
            start:function () {
                $(".field-container").addClass("dragging")
            },
            stop:function (e, u) {
                $(".field-container").removeClass("dragging");
            },
            connectWith:'.field-container',
            placeholder:'ui-sortable-placeholder',
            tolerance:'pointer',
            revert:true
        });
        $(".target-container a.close").live("click", function (e) {
            var currentField = $(this).parents(".field");
            $("#" + $(currentField).attr("bo") + " .field-container:first").append(($(currentField)));
        });
        $(".linkCreateSection").click(function () {
            $("#sectionName").val("");
            $("#sectionId").val("");
            $("#sectionModal").modal("show");
        });

        $("#submitCreateSection").click(function () {
            if ($("#sectionName").val().length > 0) {
                if ($("#sectionId").val().length > 0) {
                    $("#"+$("#sectionId").val()).find(".section-text:first").html($("#sectionName").val());
                } else {
                    var template = $($.tmpl($("#sectionTemplate"), {id:"section" + $("#targetSources").find(".accordion-group").length, sectionName:$("#sectionName").val()}));
                    $("#targetSources").append(template);
                    template.find(".field-container").sortable({
                        start:function (e, u) {
                            $(".field-container").addClass("dragging")
                        },
                        stop:function (e, u) {
                            $(".field-container").removeClass("dragging");
                        },
                        connectWith:'.field-container',
                        opacity:.7,
                        zIndex:5000,
                        placeholder:'ui-sortable-placeholder',
                        tolerance:'pointer',
                        revert:true
                    });
                }
                $("#sectionModal").modal("hide");
            }
        });

        $(".accordion-group .delete-section").live("click", function (e) {
            if($("#targetSources .accordion-group").length<2){
                alert("<%= t(:label_irm_report_type_section_delete_last)%>");
                return false;
            }
            var section = $(this).parents(".accordion-group");
            $(section).find(".field").each(function (index, field) {
                $("#" + $(field).attr("bo") + " .field-container:first").append(($(field)));
            });
            $(section).remove();
        });

        $(".accordion-group .edit-section").live("click", function (e) {
            var section = $(this).parents(".accordion-group");
            $("#sectionName").val($(section).find(".section-text:first").html());
            $("#sectionId").val($(section).attr("id"));
            $("#sectionModal").modal("show");
        });


        function postResult(){
            var sections = [];
            $("#targetSources .accordion-group").each(function(index,section){
                var $section = $(section);
                var section = {id:$section.attr("id"),section_id:$section.attr("section_id"),name:$section.find(".section-text:first").html(),fields:[]};
                $section.find(".field").each(function(index,field){
                    var $field = $(field);
                    var field = {boa_id:$field.attr("boa_id"),section_field_id:$field.attr("section_field_id"),default_selection_flag:$field.find("input[type=checkbox]:first").is(':checked')? "Y":"N"};
                    section.fields.push(field);
                });
                sections.push(section);
            });

            var params = {irm_report_type_sections:sections};

            var $form = $("#editFields"),
                csrfParam = $('meta[name=csrf-param]:first').attr("content"),
                csrfToken = $('meta[name=csrf-token]:first').attr("content");
            params[csrfParam] = csrfToken;
            params["_dom_id"] = "editFields";
            $.post($form.attr("action"), params);

        }

        $("#editFields").submit(function(e){
            e.preventDefault();
            postResult();
        });

    });
</script>




<!-- portal_layout设置窗口 -->
<div class="modal" id="sectionModal" style="display: none;">
  <div class="modal-header">
    <a data-dismiss="modal" class="close" href="#">×</a>

    <h3><%= t(:label_irm_report_type_define_field_and_section) %></h3>
  </div>
  <div class="modal-body">
    <div class="alert alert-error">
      <%= t(:label_irm_report_type_section_name) %> : <%= t("activerecord.errors.messages.blank") %>
    </div>
    <table class="form-table" style="width: 100%">
      <tr>
        <td class="label-col"><label for="sectionName"><%= t(:label_irm_report_type_section_name) %></label></td>
        <td class="data-3col" colspan="3">
          <%= hidden_field_tag "sectionId", "", :id => "sectionId" %>
          <%= text_field_tag "sectionName", "", :id => "sectionName", :required => true %>
        </td>
      </tr>
    </table>
  </div>
  <div class="modal-footer">
    <a data-dismiss="modal" class="btn" href="#"><%= t(:cancel) %></a>
    <a id="submitCreateSection" class="btn btn-primary" href="javascript:void(0)"><%= t(:save) %></a>
  </div>
</div>

<div id="sectionTemplate" style="display: none;">
  <div class="accordion-group" id="${id}">
    <div class="accordion-heading">
      <div class="btn-toolbar section-heading">
        <div class="btn-group">
          <a href="javascript:void(0);" class="btn section-name">
            <%= t(:label_irm_report_type_section) %>: <i class="section-text">${sectionName}</i>
          </a>
        </div>

        <div class="btn-group">
          <a href="javascript:void(0);" class="btn edit-section"><i class="icon-edit"></i><%= t(:edit) %></a>
          <a href="javascript:void(0);" class="btn btn-danger delete-section"><i class="icon-trash icon-white"></i><%= t(:delete) %>
          </a>
        </div>
      </div>
    </div>
    <div class="accordion-body collapse in">
      <div class="accordion-inner target-container field-container">
      </div>
    </div>
  </div>
</div>


