<%= common_title(:model_meaning=>t(:label_irm_operation_unit)) %>
<!--页面结构-->
<div class="show-block">
  <table class="page-block-header">
    <tr>
        <td class="page-block-title">
          <h2 class="block-title"><%= t(:label_irm_operation_unit) %></h2>
        </td>
        <td class="page-block-button">
          <%= link_to t(:edit), {:action => "edit"},:class=>"btn btn-primary" %>
          <%= link_to t(:back), {:action => "index"},:class=>"btn"%>
        </td>
    </tr>
  </table>
  <!-- 一般信息 -->
  <div class="page-block-body">
    <table class="show-table">
      <tbody>
          <tr>
            <td class="label-col"><label ><%=t(:label_irm_operation_unit_name)%></label></td>
            <td class="data-col"><div><%= @operation_unit[:name] %></div></td>
            <td class="label-col empty"><div>&nbsp;</div></td>
            <td class="data-col empty"><div>&nbsp;</div></td>
          </tr>
          <tr>
            <td class="label-col"><label ><%=t(:label_irm_operation_unit_short_name)%></label></td>
            <td class="data-col"><div><%= @operation_unit.short_name %></div></td>
            <td class="label-col empty"><div>&nbsp;</div></td>
            <td class="data-col empty"><div>&nbsp;</div></td>
          </tr>
          <tr>
            <td class="label-col"><label ><%=t(:label_irm_operation_unit_license)%></label></td>
            <td class="data-col"><div><%= @operation_unit[:license_name] %></div></td>
            <td class="label-col empty"><div>&nbsp;</div></td>
            <td class="data-col empty"><div>&nbsp;</div></td>
          </tr>
          <tr>
            <td class="label-col"><label ><%=t(:label_irm_operation_unit_admin)%></label></td>
            <td class="data-col"><div><%= get_primary_person_name_by_id(@operation_unit[:primary_person_id]) %></div></td>
            <td class="label-col empty"><div>&nbsp;</div></td>
            <td class="data-col empty"><div>&nbsp;</div></td>
          </tr>
          <tr>
            <td class="label-col"><label ><%=t(:label_irm_operation_unit_default_language_code)%></label></td>
            <td class="data-col"><div><%= @operation_unit[:default_language_name] %></div></td>
            <td class="label-col empty"><div>&nbsp;</div></td>
            <td class="data-col empty"><div>&nbsp;</div></td>
          </tr>
          <tr>
            <td class="label-col"><label ><%=t(:label_irm_operation_unit_default_time_zone_code)%></label></td>
            <td class="data-col"><div><%= @operation_unit[:default_time_zone_name] %></div></td>
            <td class="label-col empty"><div>&nbsp;</div></td>
            <td class="data-col empty"><div>&nbsp;</div></td>
          </tr>
          <tr>
            <td class="label-col"><label ><%=t(:label_irm_operation_unit_description)%></label></td>
            <td class="data-col" colspan="3" style="width:82%"><div><%= @operation_unit[:description] %></div></td>
          </tr>
      </tbody>
    </table>
  </div>
</div>