<%= common_title %>
<div class="page-block">

  <div class="page-block-body">
    <div class="sub-page-block">
      <div class="sub-page-block-body">
        <div style="width: 100%;background-color: lightcyan;color: red"><%=t(:label_approval_jobs)%></div>
        <div id="approval_jobs"></div>
        <%= datatable("approval_jobs", {:controller=>"dip/approval_node",:action => "get_data"},
                      [],
                      {:search_box => "searchBox", :paginator_box => "paginator", :scroll => {:mode => "xy",:height=>"200px"}}) %>
        <div style="width: 100%;background-color: lightcyan;color: red"><%=t(:label_approval_status)%></div>
        <div id="data_area"></div>
        <%= datatable("data_area", {:action => "get_data"},
                      [],
                      {:search_box => "searchBox1", :paginator_box => "paginator1", :scroll => {:mode => "xy",:height=>"200px"}}) %>
      </div>
    </div>
  </div>
  <table class="page-block-footer">
    <tr>
      <td class="page-block-title">
      </td>
    </tr>
  </table>
</div>
<script>
    $(document).ready(function(){
        var bodys=$(".table-body").toArray();
        for(var i in bodys){
            bodys[i].style["height"]="250px";
        }
    });
    function approval_agree(event,nodeId){
        $.post("<%= url_for({:action => :approval_agree,:controller => "dip/approval_node",:format=>:json})%>", {nodeId:nodeId}, function (result) {
            var params = {};
            var current_target = $("#approval_jobs").data("datatable").target;
            current_target.data.options.defaultOptions = params;
            current_target.data.options.searchOptions = {};
            current_target.loadPage(1);

            current_target = $("#data_area").data("datatable").target;
            current_target.data.options.defaultOptions = params;
            current_target.data.options.searchOptions = {};
            current_target.loadPage(1);
        }, "json");
    }
    function approval_reject(event,nodeId){
        $.post("<%= url_for({:action => :approval_reject,:controller => "dip/approval_node",:format=>:json})%>", {nodeId:nodeId}, function (result) {
            var params = {};
            var current_target = $("#approval_jobs").data("datatable").target;
            current_target.data.options.defaultOptions = params;
            current_target.data.options.searchOptions = {};
            current_target.loadPage(1);

            current_target = $("#data_area").data("datatable").target;
            current_target.data.options.defaultOptions = params;
            current_target.data.options.searchOptions = {};
            current_target.loadPage(1);
        }, "json");
    }
</script>