<div class="quick-create">
    <div id="createNew" class="menu-button">
        <div id="createNewButton" class="menu-button-label">
            <span><%= t(:create) %>...</span>
        </div>
        <div id="createNewMenu" class="menu-button-content" style="display:none; width: 196px;">
          <% if has_module?(:icm) -%>
            <%= link_to_checker(raw(get_img_icon("img6", {:class => "menu-button-icon", :title => t(:label_incident_request)}, "Small") ) + t(:label_incident_request),
                                  {:controller => "icm/incident_requests", :action => "new"}, {:class => "menu-button-link"}) %>
          <% end -%>
          <% if has_module?(:skm) -%>
            <%= link_to_checker(raw(get_img_icon("img10", {:class => "menu-button-icon", :title => t(:label_skm_entry_header)}, "Small") ) + t(:label_skm_entry_header),
                                  {:controller => "skm/entry_headers", :action => "new"},{:class => "menu-button-link"})%>
            <%= link_to_checker(raw(get_img_icon("img1", {:class => "menu-button-icon", :title => t(:label_skm_file)}, "Small") ) + t(:label_skm_file),
                                  {:controller => "skm/file_managements", :action => "new"},{:class => "menu-button-link"})%>
          <% end -%>
          <% if has_module?(:csi) -%>
            <%= link_to_checker(raw(get_img_icon("img17", {:class => "menu-button-icon", :title => t(:label_csi_survey_info)}, "Small") ) + t(:label_csi_survey_info),
                                  {:controller => "csi/surveys", :action => "new"},{:class => "menu-button-link"})%>
          <% end -%>
          <%= link_to_checker(raw(get_img_icon("img7", {:class => "menu-button-icon", :title => t(:label_irm_bulletin)}, "Small") ) + t(:label_irm_bulletin),
                                  {:controller => "irm/bulletins", :action => "new"}, {:class => "menu-button-link"})%>
          <% link_to_checker(raw(get_img_icon("img2", {:class => "menu-button-icon", :title => t(:label_irm_todo_event)}, "Small") ) + t(:label_irm_todo_event),
                                  {:controller => "irm/todo_events", :action => "new"},{:class => "menu-button-link"})%>
          <% link_to_checker(raw(get_img_icon("img2", {:class => "menu-button-icon", :title => t(:label_irm_todo_task)}, "Small") ) + t(:label_irm_todo_task),
                                  {:controller => "irm/todo_tasks", :action => "new"},{:class => "menu-button-link"})%>
        </div>
    </div>
</div>

<script>
  $(document).ready(function() {
    var _checkCreateNewMenu = function(e){
        if($("#createNew").find(e.target).length<1){
          $("#createNewMenu").css("display","none");
          $(document).unbind("click",_checkCreateNewMenu);
        }
    }
    $("#createNewButton").click(function(){
        if($("#createNewMenu").css("display")=="block")
        {
          $(document).unbind("click",_checkCreateNewMenu);
          $("#createNewMenu").css("display","none");
        }else{
          $(document).bind("click",_checkCreateNewMenu);
          $("#createNewMenu").css("display","block");
        }
    });
  });
</script>

