<%= common_title%>
<style type="text/css">
  .page-block-button form{
    margin: 0;
  }
</style>
<!--页面结构-->
<div class="page-block">
  <table class="page-block-header">
    <tr>
      <td class="page-block-title">
        <h2 class="block-title">
          <%= t(:label_irm_external_system_add_people) %>&nbsp;<%= t(:label_irm_select_result) %>
        </h2>
      </td>
      <td class="page-block-button">
        <%= form_for(@role,:url=>{:action=>"update_assignment"},:builder => CustomFormBuilder) do |f| %>
            <%= f.hidden_field(:person_ids, :name => "person_ids", :value => "") %>
            <%= link_submit t(:save),{:class=>"btn btn-primary"}%>
            <%= link_back(t(:cancel),{},:class=>"btn")%>
        <% end %>
      </td>
      <td class="page-block-help">
        <div id="searchBox"></div>
      </td>
    </tr>
  </table>
  <div class="page-block-body">
    <div id="assignable_people"></div>
    <%= datatable("assignable_people",{:action=>"assignable_people"},[],{:search_box=>"searchBox",:paginator_box=>"paginatorBox",:select=>"multiple"})%>
    <div id="paginatorBox"></div>
  </div>
</div>
<script type="text/javascript">
    $(document).ready(function(){
        $("#assignable_people").bind('selectionchange',function(event,ids){
            $("#irm_role_person_ids").val(ids.join(","));
        });
    })
</script>