<%= setting_show_title(:show_data => @role[:name]) %>
<style type="text/css">
    .page-block-button form{
        margin: 0;
    }
</style>
<!--页面结构-->
<div class="show-block">
  <!-- 人员信息 -->
  <table class="page-block-header">
    <tr>
        <td class="page-block-title">
          <h2 class="block-title"><%= t(:label_irm_role) %></h2>
        </td>
        <td class="page-block-button">
          <%= link_to t(:edit), {:action => "edit", :id => @role},:class=>"btn btn-primary" %>
          <%= link_to t(:back), {:action => "index"},:class=>"btn"%>
        </td>
    </tr>
  </table>
  <!-- 一般信息 -->
  <table class="page-block-header">
    <tr>
      <td class="page-block-title"><h2 class="block-title"><%= t(:label_common_info) %>:</h2></td>
    </tr>
  </table>
  <div class="page-block-body">
    <table class="show-table">
      <tbody>
          <tr>
            <td class="label-col"><label><%=(t :label_irm_role_code)%></label></td>
            <td class="data-col"><%= @role.code%></td>
            <td class="label-col empty">&nbsp;</td>
            <td class="data-col empty">&nbsp;</td>
          </tr>
          <tr>
            <td class="label-col"><label><%=(t :name)%></label></td>
            <td class="data-col"><%=@role[:name]%></td>
            <td class="label-col empty">&nbsp;</td>
            <td class="data-col empty">&nbsp;</td>
          </tr>
          <tr>
            <td class="label-col"><label><%=(t :label_irm_role_report_to_role)%></label></td>
            <td class="data-col"><%=@role[:report_to_role_name]%></td>
            <td class="label-col empty">&nbsp;</td>
            <td class="data-col empty">&nbsp;</td>
          </tr>
          <tr>
            <td class="label-col"><label><%=(t :description)%></label></td>
            <td class="data-col" colspan="4" style="width:82%"><%=@role[:description]%></td>
          </tr>
      </tbody>
    </table>
  </div>
</div>

<!--页面结构-->
<div class="page-block">
  <table class="page-block-header"><tr>
    <td class="page-block-title">
      <h2 class="block-title"><%= t(:label_irm_role_people_list) %></h2>
    </td>
    <td class="page-block-button">
      <%= form_for(@role,:url=>{:action=>"delete_people"},:builder => CustomFormBuilder) do |f| %>
          <%= f.hidden_field(:person_ids, :name => "person_ids", :value => "") %>
          <%= link_to t(:label_irm_role_edit_assignment), {:action => "edit_assignment", :id => @role.id},:class=>"btn btn-primary"%>
          <%= link_submit t(:delete_selected), :confirm => t(:label_are_you_sure),:class=>"btn btn-danger"%>
      <% end %>
    </td>
    <td class="page-block-help">
      <div id="permissionsSearchBox"></div>
    </td>
  </tr></table>
  <div class="page-block-body">
    <div id="people">
      <%= datatable("people",{:action=>"role_people",:id=>@role.id,:format=>"json"},[],{:row_perpage=>10,:paginator_box=>'peoplePaginatorBox',:select=>"multiple"})%>
    </div>
    <div id="peoplePaginatorBox"></div>
  </div>
</div>
<%=render :partial=>"multilingual/show",:locals=>{:main_data=>@role} %>
<script type="text/javascript">
    $(document).ready(function(){
        $("#people").bind('selectionchange',function(event,ids){
            $("#irm_role_person_ids").val(ids.join(","));
        });
    })
</script>
