<%= common_title %>

<!--页面结构-->
<div class="page-block">
  <table class="page-block-header"><tr>
    <td class="page-block-title">
      <h2 class="block-title"><%= t(:label_irm_person_list) %></h2>
    </td>
    <td class="page-block-button">
      <%= link_to t(:new), {:action => "new"},:class=>"btn"%>
      <button onclick="sync_user(event)" class="btn btn-primary"><%= t(:synchronous) %></button>
    </td>
    <td class="page-block-help">
      <div id="searchBox"></div>
    </td>
  </tr></table>
  <div class="page-block-body">
    <div id="person"></div>
    <%= datatable("person",{:action=>"get_data",:format=>"json"},[],{:search_box=>"searchBox",:paginator_box=>"paginatorBox"})%>
    <div id="paginatorBox"></div>
  </div>
</div>
<script type="text/javascript">
    function sync_user(event){
        $.post("<%= url_for({:action => :sync_user,:controller => "irm/people",:format=>:json})%>", {}, function (result) {
            alert(result);
            var current_target = $("#person").data("datatable").target;
            current_target.loadPage(1);
        }, "json");
    }
</script>