<%= common_title(:show_data=>@person[:person_name]) %>
<!--页面结构-->
<div class="show-block">
  <!-- 人员信息 -->
  <table class="page-block-header">
    <tr>
        <td class="page-block-title">
          <h2 class="block-title"><%= t(:label_irm_person_show) %></h2>
        </td>
        <td class="page-block-button">
          <%= link_to t(:edit), {:action => "edit", :id => @person},:class=>"btn" %>
          <%= link_to t(:new), {:action => "new"},:class=>"btn"%>
          <%= link_to t(:label_irm_person_reset_password), {:action => "reset_password"},:class=>"btn"%>
          <%= link_to t(:back), {:action => "index"},:class=>"btn"%>
        </td>
    </tr>
  </table>
  <div class="page-block-body">
    <table class="show-table">
      <tbody>
          <tr>
            <td class="label-col"><label><%=t(:label_irm_identity_login_name)%></label></td>
            <td class="data-col"><%= @person.login_name%></td>
            <td class="label-col"><label><%=(t :label_irm_person_role)%></label></td>
            <td class="data-col"><%=@person[:role_name]%></td>
          </tr>
          <tr>
            <td class="label-col"><label><%=(t :label_irm_person_email_address)%></label></td>
            <td class="data-col"><%=@person.email_address%></td>
            <td class="label-col"><label><%=t(:label_irm_person_profile)%></label></td>
            <td class="data-col"><%=@person[:profile_name]%></td>
          </tr>
          <tr>
            <td class="label-col"><label><%=(t :label_irm_person_last_name)%></label></td>
            <td class="data-col"><%=@person.last_name%></td>
            <td class="label-col"><label><%=t(:label_irm_person_organization)%></label></td>
            <td class="data-col"><%= @person[:organization_name] %></td>
          </tr>
          <tr>
            <td class="label-col"><label><%=(t :label_irm_person_first_name)%></label></td>
            <td class="data-col"><%=@person.first_name%></td>
            <td class="label-col"><label><%=t(:label_irm_person_bussiness_phone)%></label></td>
            <td class="data-col">
              <%=@person.bussiness_phone%>
            </td>
          </tr>
          <tr>
            <td class="label-col"><%= t(:label_irm_identity_language_code) %></td>
            <td class="data-col"><%= @person[:language_description] %></td>
             <td class="label-col"><label><%=t(:label_irm_person_fax_number)%></label></td>
             <td class="data-col">
                 <%=@person.fax_number%>
             </td>
          </tr>
          <tr>
            <td class="label-col"><label><%=t(:label_irm_person_notification_lang)%></label></td>
            <td class="data-col"><%=@person[:notification_lang_description]%></td>
             <td class="label-col"><label><%=t(:label_irm_person_mobile_phone)%></label></td>
             <td class="data-col">
               <%=@person.mobile_phone%>
             </td>
          </tr>
          <tr>
             <td class="label-col">
               <label><%=t(:label_irm_person_notification_flag)%></label>
             </td>
             <td class="data-col"><%=check_img(@person.notification_flag)%></td>
            <td class="label-col"><label><%=t(:label_irm_person_home_phone)%></label></td>
            <td class="data-col">
              <%=@person.home_phone%>
            </td>
          </tr>
          <tr>
             <td class="label-col"><label><%=t(:label_irm_person_vip_flag)%></label></td>
             <td class="data-col"><%=check_img(@person.vip_flag)%></td>
              <td class="label-col"><label><%=t(:label_irm_person_home_address)%></label></td>
            <td class="data-col">
               <%=@person.home_address%>
            </td>

          </tr>
          <tr>
            <td class="label-col"><label><%=t(:label_irm_person_assignment_availability_flag)%></label></td>
            <td class="data-col"><%=check_img(@person.assignment_availability_flag)%></td>
            <td class="label-col empty"><div></div></td>
            <td class="data-col  empty"><div></div></td>
          </tr>
          <tr>
            <td class="label-col"><label><%=(t :label_irm_person_template_flag)%></label></td>
            <td class="data-col"><div><%=check_img(@person.is_a?(Irm::TemplatePerson) ? "Y":"N")%></div></td>
            <td class="label-col empty">&nbsp;</td>
            <td class="data-col empty">&nbsp;</td>
          </tr>
      </tbody>
    </table>
  </div>
  <!-- 审批信息 -->
  <table class="page-block-header">
    <tr>
      <td class="page-block-title"><h2 class="block-title"><%=t(:label_irm_person_access_system)%></h2></td>
    </tr>
  </table>
  <div class="page-block-body">
      <table class="show-table">
        <tbody>
         <tr>
           <td class="label-col"><label><%=t(:label_irm_person_delegate_approver)%></label></td>
           <td class="data-col"><%=@person[:delegate_name]%></td>
           <td class="label-col"><label><%=t(:label_irm_person_approve_request_mail)%></label></td>
           <td class="data-col"><%=check_img(@person.approve_request_mail)%></td>
         </tr>
         <tr>
           <td class="label-col"><label><%=t(:label_irm_person_delegate_manager)%></label></td>
           <td class="data-col"><div><%=@person[:manager_name]%></div></td>
         </tr>
        </tbody>
      </table>
  </div>
</div>

<!-- 用户登录历史列表 -->
<div class="page-block">
  <table class="page-block-header">
    <tr>
      <td class="page-block-title">
        <h2 class="block-title"><%= t(:label_irm_login_record_list) %></h2>
      </td>
      <td class="page-block-button">
        <div id="loginHistoryExportData">
          <%= link_to t(:export), {},:href => "javascript:void(0)",:class=>"btn" %>
        </div>
      </td>
    </tr>
  </table>
  <div class="page-block-body">
    <div id="login_history_list">
    </div>
    <%= datatable("login_history_list", {:controller=>"irm/my_login_history", :action => "get_login_data", :format=>"json", :id => @person.id},
                          [{:key=>"user_ip",:label=>t(:label_irm_login_record_user_ip)},
                           { :key =>"operate_system", :label => t(:label_irm_login_record_operate_system) },
                           { :key =>"browser", :label => t(:label_irm_login_record_browser) },
                           { :key =>"login_at", :label => t(:label_irm_login_record_login_at)},
                           { :key =>"logout_at", :label => t(:label_irm_login_record_logout_at) }],
                          {:export_data=>"#loginHistoryExportData",:paginator_box=>"historiesBox"})%>
    <div id="historiesBox"></div>
  </div>
</div>