<style>
    .btn-success{
        background-color:#5bb75b;
        *background-color:#51a351;
    }
    .fileinput-button {
        float: left;
        margin-right: 4px;
        overflow: hidden;
        position: relative;
    }

    .fileinput-button input {
        position: absolute;
        top: 0;
        right: 0;
        margin: 0;
        border: solid transparent;
        border-width: 0 0 100px 200px;
        opacity: 0;
        filter: alpha(opacity=0);
        direction: ltr;
        cursor: pointer;
    }

    /* Fix for IE 6: */
    *html .fileinput-button {
        line-height: 22px;
        margin: 1px -3px 0 0;
    }

    /* Fix for IE 7: */
    *+html .fileinput-button {
        margin: 1px 0 0 0;
    }

    .upload-file .file-cell {
        display: none;
    }

    .upload-file .file-description input {
        padding: 0;
        margin: 0;
    }

</style>
<table class="upload-file" id="<%= upload_file_id %>" url="<%= url_for({:controller=>"irm/attachments",:action=>"create_attachment",:format=>:json}.merge(url_options)) %>">
  <tbody class="file-buttons">
    <tr>
      <td colspan="3">
          <span class="btn btn-success fileinput-button">
              <% unless ie6? -%>
                <i class="icon-plus icon-white"></i>
              <% end -%>
              <span><%= t(:label_icm_incident_journal_add_attachment) %>...</span>
              <input type="file" multiple="" name="file_blank">
          </span>
          <% if defined?(message) %>
            <label><%= message %></label>
          <% end %>
      </td>
    </tr>
  </tbody>
  <tbody class="file-template" style="display:none" id="file-template">
      <tr class="file-item" ref="${sequence}">
        <td><span class="file-name"><a target="_blank" href="${fileUrl}">${fileName}</a></span><span class="file-cell"></span></td>
        <td class="file-description">
          <input type="hidden" value="${attachmentId}" name="${ref}[${sequence}][id]"/>
          <input type="text" name="${ref}[${sequence}][description]" size="30"/></td>
        <td>
          <div><a class="delete-file" delete_ref="${sequence}" delete_target="${deleteTarget}" href="javascript:void(0)"><%= t(:delete) %></a></div>
        </td>
      </tr>
  </tbody>
  <tbody class="file-contents">
  </tbody>
  <tbody class="file-uploaded-contents">
    <% files.each do |file| %>
      <tr class="file-item" ref="<%= file.id %>">
        <td><span class="file-name"><a target='_blank' href='<%= file.data.url %>'><%= file[:data_file_name] %></a></span><span class="file-cell"></span></td>
        <td class="file-description"><%= file.description %></td>
        <td>
          <div>
            <%= link_to(t(:delete),{},{:href=>"javascript:void(0);",:delete_ref=>file.id,:delete_target=>url_for(({:controller=>"irm/attachments",:action=>"destroy_attachment",:id=>file.id,:_dom_id=> upload_file_id,:format=>:json }).merge(url_options)),:back=>true,:class=>"delete-file",:confirm => t(:label_are_you_sure) }) %>
          </div>
        </td>
      </tr>
    <% end if defined?(files) %>
  </tbody>
</table>
<script type="text/javascript">
    $(function(){
        var options = {};
        <% if defined?(file_type)%>
        options.type =  '<%= file_type %>';
        <% end %>
        <% if defined?(pasted_zone)%>
       options.pastedZone =  '<%= pasted_zone %>';
        <% end %>
        $("#<%= upload_file_id%>").upload_file_sample(options);
    });

</script>