<%= datatable_view({:count => @count, :datas => @datas}) do |builder| %>
    <% builder.column(:checkbox, {:title => "<input type=\"checkbox\" id=\"selectAll\"/>"+t(:selectAll), :width => "30px"}) do |data| %>
        <input type="checkbox" name="columnIds" value="<%= data[:id] %>"/>
    <% end %>
    <% builder.column(:id, {:title => t(:operation), :width => "30px"}) do |data| %>
        <a href="javascript:void(0)" onclick="edit_infa_parameter(event,'<%= data.to_json%>')"><%= t(:edit) %></a>
    <% end %>
    <% builder.column(:name_alias, {:title => t(:label_parameter_alias), :width => "180px"}) %>
    <% builder.column(:name, {:title => t(:label_parameter_name), :width => "180px"}) %>
    <% builder.column(:updated_by, {:title => t(:updated_by), :width => "100px"}) do |data| %>
        <%= get_username(data[:updated_by]) %>
    <% end %>
    <% builder.column(:updated_at, {:title => t(:updated_at), :width => "120px"}) %>

<% end %>
<script type="text/javascript">
    $(document).ready(function () {
        $("#selectAll").bind("click", function () {
            if ($("#selectAll")[0].checked) {
                var checkboxes = $("input[name='columnIds']").toArray()
                for (var checkbox in checkboxes) {
                    checkboxes[checkbox].checked = true;
                }
            } else {
                var checkboxes = $("input[name='columnIds']").toArray()
                for (var checkbox in checkboxes) {
                    checkboxes[checkbox].checked = false;
                }
            }
        });
    });
</script>