<% tree_id ||= "tree-div" %>
<% root_text ||= nil %>
<% li_attrs ||= 'id' %>
<% checkbox ||= false %>
<% auto_css ||= false %>
<div id="<%= tree_id %>" href="<%= tree_url %>"
     <% if auto_css %> style="height: auto;width: auto;"
     <% end %> >
  <script type="text/javascript">
      $(document).ready(function () {
          init_tree();
      });
      function init_tree() {
          //初始化树
          var div = $("#<%= tree_id%>"),
                  root = $('<ul/>').attr("class", "filetree").appendTo(div);
          var url = div.attr("href");
          //url 中附带上_dom_id参数
          if (url.indexOf('?') > 0) {
              url += '&_dom_id=<%= tree_id%>';
          } else {
              url += '?_dom_id=<%= tree_id%>';
          }
          root.treeview({
              url: url,
              root_text: '<%= root_text %>',
              li_attrs: '<%=li_attrs %>',
              show_checkbox: eval('<%= checkbox %>')
          });
      }
  </script>
</div>