  <link rel="stylesheet" type="text/css" href="/themes/salesforce2/stylesheets/application.css"></link>
  <link rel="stylesheet" type="text/css" href="/themes/salesforce2/stylesheets/common.css"></link>
<body id="loginpage">
    <div id="pagewrap">
        <div id="newheader">
        </div>
        <div id="gradientwrap">
            <div class="bottom">
            <div id="forgotpasswordbox">
              <div class="forgotbox">
                <%= page_title("",t(:edit_password)) %>
                <%= form_for(@person,:url=>{:action=>"update_password"},:builder => LabellingFormBuilder) do |f| %>
                <div id="ep" class="edit-block page-block">
                  <div class="pbHeader">
                    <table cellpadding="0" cellspacing="0" border="0">
                      <tbody>
                        <tr>
                          <td class="pbTitle"><h2 class="mainTitle"><%=t(:label_irm_identity_edit_password)%></h2></td>
                          <td id="topButtonRow" class="pbButton">
                            <div class="button"><%= f.submit t(:save)%></div>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                  <div class="pbBody">
                    <%= error_for @identity%>
                    <div id="head_1_ep" class="pbSubheader first tertiaryPalette">
                      <span class="pbSubExtra">
                        <span class="requiredLegend">
                          <span class="requiredExampleOuter">
                            <span class="requiredExample">&nbsp;</span>
                          </span><span class="requiredMark">*</span>
                          <span class="requiredText"> = <%=t(:label_is_required)%></span>
                        </span>
                      </span>
                      <h3><%= t(:label_common_info) %></h3>
                    </div>
                    <div class="pbSubsection">
                      <table class="detailList" cellpadding="0" cellspacing="0" border="0">
                        <tbody>
                            <% if Irm::PasswordPolicy.expire?(@person.password_updated_at,@person.opu_id) %>
                              <tr>
                                <td class="labelCol"><label></label></td>
                                <td class="dataCol"><label style="color:red;"><%=t(:label_irm_psw_policy_expire)%></label></td>
                                <td class="labelCol empty">&nbsp;</td>
                                <td class="dataCol empty">&nbsp;</td>
                              </tr>
                              <tr>
                                <td class="labelCol"><label><%=(t :label_irm_psw_policy_expire_in)%></label></td>
                                <td class="dataCol"><%= Irm::PasswordPolicy.current(@person.opu_id).expire_in%></td>
                                <td class="labelCol empty">&nbsp;</td>
                                <td class="dataCol empty">&nbsp;</td>
                              </tr>
                               <tr>
                                <td class="labelCol"><label><%=(t :label_irm_psw_policy_last_upadated_at)%></label></td>
                                <td class="dataCol"><%= format_date(Irm::Person.current.password_updated_at)%></td>
                                <td class="labelCol empty">&nbsp;</td>
                                <td class="dataCol empty">&nbsp;</td>
                              </tr>
                              <tr>
                                <td class="labelCol"><label><%=(t :label_irm_psw_policy_requirement)%></label></td>
                                <td class="dataCol" width="82%" colspan="3"><%= Irm::PasswordPolicy.current(@person.opu_id).validate_message%></td>
                              </tr>
                            <% end %>
                            <tr>
                              <td class="labelCol"><label><%=(t :label_irm_identity_old_password)%></label></td>
                              <td class="dataCol"><%=f.password_field :old_password, :size=>40,:required=>true%></td>
                              <td class="labelCol empty">&nbsp;</td>
                              <td class="dataCol empty">&nbsp;</td>
                            </tr>
                            <tr>
                              <td class="labelCol"><label><%=(t :label_irm_identity_new_password)%></label></td>
                              <td class="dataCol"><%=f.password_field :password, :size=>40,:required=>true%></td>
                              <td class="labelCol empty">&nbsp;</td>
                              <td class="dataCol empty">&nbsp;</td>
                            </tr>
                            <tr>
                              <td class="labelCol"><label><%=(t :label_irm_identity_new_password_confirmation)%></label></td>
                              <td class="dataCol"><%=f.password_field :password_confirmation, :size=>40,:required=>true%></td>
                              <td class="labelCol empty">&nbsp;</td>
                              <td class="dataCol empty">&nbsp;</td>
                            </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                  <div class="pbBottomButtons">
                    <table cellpadding="0" cellspacing="0" border="0">
                      <tbody>
                        <tr>
                          <td class="pbTitle"></td>
                          <td id="bottomButtonRow" class="pbButtonb">
                            <div class="button"><%= f.submit t(:save)%></div>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
                <% end %>
              </div>
            </div>
            <span id="forgotpasswordboxbottom"><!-- bottom --></span>
            </div>
        </div>
    </div>
</body>
