<% if ie6?  %>
    <% require_jscss(:login_ie6) %>
<% else %>
    <% require_jscss(:login) %>
<% end %>
 <body id="loginpage">
    <div id="pagewrap">
      <div id="newheader">
        <%= render :partial => "irm/common/login_page_logo"%>
      </div>
      <div id="gradientwrap">
        <div class="bottom">
          <div class="login-form-box">
            <div class="content-new">
            <%= form_tag({:action=> "login"},{:nomask=>true,:id=>"login_form"}) do %>
               <%= back_url_hidden_field_tag %>
                  <% if params[:notice].present? %>
                    <div class="alert alert-success" style="width: 250px;">
                      <%= params[:notice] %>
                    </div>
                  <% end %>
                  <% if params[:error] %>
                    <div class="alert alert-error" style="width: 250px;"><%= params[:error] %></div>
                  <% end %>
                  <div class="inputs">
                    <div class="inputbox">
                      <label><%=(t :label_irm_common_username)%></label>
                      <span><%=text_field_tag :username,nil, :class => "txtbox", :id=>"userName",:autocomplete=>"off",:span => true%></span>
                    </div>
                    <div class="inputbox inputbox_password">
                      <label><%=(t :label_irm_common_password)%></label>
                      <span><%=password_field_tag :password, nil, :class => "txtbox",:id=>"password",:autocomplete=>"off", :span => true%></span>
                    </div>
                  </div>
                  <div class="rememberme-txt">
                    <input type="checkbox" name="rememberme" span=true id="rememberchk"><label for="rememberchk"><%= t(:remember_user_name)%></label>
                  </div>
                  <div class="login-button">
                    <%= link_to t(:label_irm_common_login),{},:id=>"sumbitlogin",:class => "submit btn btn-primary",:style => "margin:4px 9px 5px 12px;"%>
                    <%= link_to t(:label_irm_common_forgot_password), {:controller => "irm/common", :action => "forgot_password"}, {:class => "forgotpass"}%>
                  </div>
             <%end%>
              <div class="signupbox">
                <% t(:no_account)%>
                <a href="javascript:void(0);"></a>&nbsp;
              </div>
            </div>
            <span class="bottom_new"></span>
          </div>
          <iframe id="shoutoutframe" frameborder=0 scrolling="no" src="/pages/loginimage.html?<%= Time.now.to_i%>"></iframe>
        </div>
      </div>
      <%= render :partial => "/irm/common/footer"%>
    </div>
    <script type="text/javascript">
      $(document).ready(function() {
          $.cookie('navTreeMenu', null, { path: '/' });
          if($.cookie("username")){
              $("#userName").val($.cookie("username"));
              $("#rememberchk").attr("checked",true);
              $("#password").attr("value","");
          }
          $("#login_form").keydown(function(e){
              if(e.keyCode=='13'){
                $("#sumbitlogin").trigger("click");
              }
            });
          $("#rememberchk").change(function(e){
              $("#sumbitlogin").focus();
          });
      });
    </script>
</body>
