<%= common_title %>
<div class="listRelatedObject setupBlock">
    <div class="page-block">
      <div class="pbHeader">
        <table cellpadding="0" cellspacing="0" border="0">
          <tbody>
            <tr>
              <td class="pbTitle"><h2 class="mainTitle"><%= t(:label_irm_operation_unit_list) %></h2></td>
              <td id="topButtonRow" class="pbButton">
                <div class="button"><%= link_to t(:new), {:action => "new"}%></div>
              </td>
              <td class="pbHelp">
                <div id="operation_unitsSearchBox"></div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="pbBody">
        <div id="operation_units" class="datatable" style="width:100%">
          <div id="id" style="display:none">
            <%= link_to(t(:edit),{:action=>"edit",:id=>"{id}"}) %>|<%= link_to(t(:show),{:action=>"show",:id=>"{id}"}) %>
          </div>
        </div>
        <%= datatable("operation_units",{:action=>"get_data",:format=>"json"},
                      [{:key=>"id",:label=>t(:operation),:formatter=>"Y.irm.template",:width=>"70px"},
                       { :key => "name", :label => t(:label_irm_operation_unit_name),:searchable=>true },
                       { :key => "short_name", :label => t(:label_irm_operation_unit_short_name),:searchable=>true },
                       { :key => "default_language_id", :label => t(:label_irm_operation_unit_default_language_id),:searchable=>true },
                       { :key => "default_time_zone_code", :label => t(:label_irm_operation_unit_default_time_zone_code),:searchable=>true }
                      ],{:paginator_box=>"operation_unitsPaginatorBox",:search_box=>"operation_unitsSearchBox"})%>
        <div id="operation_unitsPaginatorBox"></div>
      </div>
    </div>
</div>


