<div class="page-block">
    <table class="page-block-header">
      <tr>
         <td class="page-block-title"><h2 class="block-title"><%= t(:label_common_info) %>:</h2></td>
      </tr>
    </table>
    <div class="page-block-body">
      <table class="show-table">
        <tbody>
            <tr>
              <td class="label-col"><label><%=(t :label_irm_profile_code)%></label></td>
              <td class="data-col"><%= profile.code%></td>
              <td class="label-col empty">&nbsp;</td>
              <td class="data-col empty">&nbsp;</td>
            </tr>
            <tr>
              <td class="label-col"><label><%=(t :name)%></label></td>
              <td class="data-col"><%= profile[:name]%></td>
              <td class="label-col"><label><%=(t :label_irm_profile_user_license)%></label></td>
              <td class="data-col"><%= profile[:user_license_name]%></td>
            </tr>
            <tr>
              <td class="label-col"><label><%=(t :description)%></label></td>
              <td class="data-col" colspan="3" style="width:82%;"><%= profile[:description]%></td>
            </tr>
        </tbody>
      </table>
    </div>
</div>