<%= form_for(@profile,:url=>{:action=>"create"},:builder => CustomFormBuilder) do |f| %>
  <% content_for :form_block_a do%>
    <table class="form-table">
      <tbody>
          <tr>
            <td class="label-col"><label for="profile_code"><%=t(:label_irm_profile_existing_profile)%></label></td>
            <td class="data-col"><%=select_tag_alias "existing_profile", available_profile_all%></td>
            <td class="label-col empty">&nbsp;</td>
            <td class="data-col empty">&nbsp;</td>
          </tr>
          <tr>
            <td class="label-col"><label for="profile_name"><%=t(:label_irm_profile_code)%></label></td>
            <td class="data-col"><%=f.text_field :code, :required=>true ,:id=>"profile_code"%></td>
          </tr>
          <tr>
            <td class="label-col"><label for="profile_name"><%=t(:label_irm_profile_name)%></label></td>
            <td class="data-col"><%=f.text_field :name, :required=>true ,:id=>"profile_name"%></td>
          </tr>
          <tr>
            <td class="label-col"><label for="profile_description"><%=t(:label_irm_profile_description)%></label></td>
            <td class="data-col" colspan="3" width="82%"><%=f.text_area :description,:rows=>4,:cols=>90 ,:id=>"profile_description",:class => "input-xlarge" %></td>
          </tr>
      </tbody> 
    </table>
  <% end %>
  <% content_for :form_buttons  do %>
    <%= link_submit t(:save),{:class=>"btn btn-primary"}%>
    <%= link_to t(:cancel),{:action => "index"}, {:class => "btn cancel"}%>
  <% end %>
  <!--页面结构-->
  <div class="page-block">
    <table class="page-block-header">
      <tr>
        <td class="page-block-title">
          <h2 class="block-title"><%=t(:label_irm_profile_new)%></h2>
        </td>
        <td class="page-block-button">
          <%= content_for :form_buttons   %>
        </td>
      </tr>
    </table>
    <%= error_for @profile %>
    <div class="page-block-body">
      <div class="sub-page-block">
        <div class="sub-page-block-header">
          <%= form_require_info %>
          <h3 class="sub-page-block-title"><%= t(:label_irm_profile_select_copy_from) %></h3>
        </div>
        <div class="sub-page-block-body">
          <%= content_for :form_block_a   %>
        </div>
      </div>
    </div>
    <table class="page-block-footer">
      <tr>
        <td class="page-block-title"></td>
        <td class="page-block-button">
          <%= content_for :form_buttons   %>
        </td>
      </tr>
    </table>
  </div>
<% end %>

