<%= form_for(@wf_setting, :url => {:action => "update"}, :builder => CustomFormBuilder) do |f| %>
    <% content_for :form_block_common do %>
        <table class="form-table">
          <tbody>
          <tr>
            <td class="label-col">
              <label for="wf_setting_default_workflow_person"><%= t(:label_irm_wf_setting_default_workflow_person) %></label>
            </td>
            <td class="data-col"><%= f.blank_select :default_workflow_person_id, available_person, :id => "wf_setting_default_workflow_person" %></td>
            <td class="label-col empty">&nbsp;</td>
            <td class="data-col empty">&nbsp;</td>
          </tr>
          <tr>
            <td class="label-col">
              <label for="wf_setting_email_approval_flag"><%= t(:label_irm_wf_setting_email_approval_flag) %></label>
            </td>
            <td class="data-col"><%= f.check_box :email_approval_flag, :id => "wf_setting_email_approval_flag" %></td>
            <td class="label-col empty">&nbsp;</td>
            <td class="data-col empty">&nbsp;</td>
          </tr>
          </tbody>
        </table>
    <% end %>
    <% content_for :form_buttons do %>
        <%= link_submit t(:save), {:class => "btn btn-primary"} %>
        <%= link_to t(:cancel), {:action => "index"}, :class => "btn" %>
    <% end %>

    <!--页面结构-->
    <div class="page-block">
      <table class="page-block-header">
        <tr>
          <td class="page-block-title">
            <h2 class="block-title"><%= t(:label_irm_role_edit) %></h2>
          </td>
          <td class="page-block-button">
            <%= content_for :form_buttons %>
          </td>
        </tr>
      </table>
      <%= error_for @role %>
      <div class="page-block-body">
        <div class="sub-page-block">
          <!-- 一般信息 -->
          <div class="sub-page-block-header">
            <%= form_require_info %>
            <h3 class="sub-page-block-title"><%= t(:label_common_info) %></h3>
          </div>
          <div class="sub-page-block-body">
            <%= content_for :form_block_common %>
          </div>
        </div>
      </div>
      <table class="page-block-footer">
        <tr>
          <td class="page-block-title"></td>
          <td class="page-block-button">
            <%= content_for :form_buttons %>
          </td>
        </tr>
      </table>
    </div>
<% end %>

