<!--页面结构-->
<div class="page-block">
  <table class="page-block-header">
    <tr>
      <td class="page-block-title" style="width: 180px">
        <h2 class="block-title"><%= t(:label_odi_server_list) %></h2>
      </td>
      <td>
        <button class="btn btn-primary" data-toggle="button" onclick="show_add_server(event)"><%= t(:label_new_server) %></button>
        <button class="btn btn-primary" data-toggle="button" onclick="delete_server(event)"><%= t(:label_delete_server) %></button>
        <%= link_to t(:back), {:action => :index, :controller => "dip/odi_interface"}, :class => "btn btn-primary" %>
      </td>
      <td class="page-block-help" style="width: 250px">
        <div id="searchBox"></div>
      </td>
    </tr>
  </table>
  <div class="page-block-body">
    <%= datatable("data_table", {:action => "get_data", :format => "json"},
                  [],
                  {:search_box => "searchBox", :paginator_box => "paginator", :scroll => {:mode => "xy"}}) %>
    <div id="paginator"></div>
  </div>
</div>
<%= render "dip/odi10_server/edit" %>
<%= render "dip/odi10_server/new" %>

<script type="text/javascript">
    function show_add_server(event) {
        var inputs = $("#new_modal").find("input[type='text']");
        for (var m in inputs) {
            inputs[m].value = "";
        }
        $("#new_modal").modal("show")
    }
    function add_server(event) {
        $.post("<%= url_for({:action=>:create,:controller => "dip/odi10_server",:format=>:json})%>",
                {   server_name:$("#server_name_new").val(),
                    service_url:$("#servie_url_new").val(),
                    jdbc_driver:$("#jdbc_driver_new").val(),
                    jdbc_url:$("#jdbc_url_new").val(),
                    jdbc_user:$("#jdbc_user_new").val(),
                    jdbc_password:$("#jdbc_password_new").val(),
                    work_repository:$("#work_repository_new").val(),
                    agent_host:$("#agent_host_new").val(),
                    agent_port:$("#agent_port_new").val(),
                    odi_user:$("#odi_user_new").val(),
                    odi_password:$("#odi_password_new").val()
                }, function (result) {
                    $("#new_modal").modal("hide")
                    var current_target = $("#data_table").data("datatable").target;
                    current_target.loadPage(1);
                }, "json");
    }
    function show_edit_server(event, id) {
        $.get("<%= url_for({:action=>:get_edit_data,:controller => "dip/odi10_server",:format=>:json})%>", {id:id}, function (result) {
            $("#server_name_edit").val(result.odi10_server.server_name);
            $("#service_url_edit").val(result.odi10_server.service_url);
            $("#jdbc_driver_edit").val(result.odi10_server.jdbc_driver);
            $("#jdbc_url_edit").val(result.odi10_server.jdbc_url);
            $("#jdbc_user_edit").val(result.odi10_server.jdbc_user);
            $("#jdbc_password_edit").val(result.odi10_server.jdbc_password);
            $("#work_repository_edit").val(result.odi10_server.work_repository);
            $("#agent_host_edit").val(result.odi10_server.agent_host);
            $("#agent_port_edit").val(result.odi10_server.agent_port);
            $("#odi_user_edit").val(result.odi10_server.odi_user);
            $("#odi_password_edit").val(result.odi10_server.odi_password);
            $("#id_edit").val(result.odi10_server.id);
            $("#edit_modal").modal("show");
        }, "json");

    }
    function edit_server(event) {
        $.post("<%= url_for({:action=>:update,:controller => "dip/odi10_server",:format=>:json})%>",
                {server_name:$("#server_name_edit").val(),
                    service_url:$("#service_url_edit").val(),
                    jdbc_driver:$("#jdbc_driver_edit").val(),
                    jdbc_url:$("#jdbc_url_edit").val(),
                    jdbc_user:$("#jdbc_user_edit").val(),
                    jdbc_password:$("#jdbc_password_edit").val(),
                    work_repository:$("#work_repository_edit").val(),
                    agent_host:$("#agent_host_edit").val(),
                    agent_port:$("#agent_port_edit").val(),
                    odi_user:$("#odi_user_edit").val(),
                    odi_password:$("#odi_password_edit").val(),
                    id:$("#id_edit").val()
                }, function (result) {
                    $("#edit_modal").modal("hide")
                    var current_target = $("#data_table").data("datatable").target;
                    current_target.loadPage(1);
                }, "json"
        )
        ;

    }
    function delete_server(event) {
        var checkboxes = $("input[name='valueIds']").toArray()
        var selectedIds = []
        var i = 0
        for (var checkbox in checkboxes) {
            if (checkboxes[checkbox].checked) {
                selectedIds[i] = checkboxes[checkbox].value
                ++i
            }
        }
        if (selectedIds.length > 0) {
            $.post("<%= url_for({:action=>:destroy,:controller => "dip/odi10_server",:format=>:json})%>", {valueIds:selectedIds}, function (result) {
                var current_target = $("#data_table").data("datatable").target;
                current_target.loadPage(1);
            })
        }
    }
</script>

