<%= setting_title %>
<%= form_for(@application,:url=>{:action=>"update"},:builder => CustomFormBuilder) do |f| %>


  <% content_for :form_block_a   do%>
    <table class="form-table">
      <tbody>
          <tr>
            <td class="label-col"><label for="application_code"><%=t(:label_irm_application_code)%></label></td>
            <td class="data-col"><%=f.text_field :code, :required=>true ,:irm_uppercase=>true,:id=>"application_code"%></td>
            <td class="label-col empty">&nbsp;</td>
            <td class="data-col empty">&nbsp;</td>
          </tr>
          <tr>
            <td class="label-col"><label for="application_name"><%=t(:label_irm_application_name)%></label></td>
            <td class="data-col"><%=f.text_field :name, :required=>true ,:id=>"application_name"%></td>
            <td class="label-col empty">&nbsp;</td>
            <td class="data-col empty">&nbsp;</td>
          </tr>
          <tr>
            <td class="label-col"><label for="application_tabs"><%=t(:label_irm_application_tabs)%></label></td>
            <td class="data-col" colspan="3" width="82%" id="tabsDuel">

              <%= render :partial => "irm/duel_select/tmpl",:locals => {:f=>f,:sources=>available_tab,:str_value_field=>:tabs_str,:str_value=>application_tab_str(@application),:order=>true,:size=>10} %>

            </td>
          </tr>
          <tr>
            <td class="label-col"><label for="application_default_tab"><%=t(:label_irm_application_default_tab)%></label></td>
            <td class="data-col"><%=f.blank_select :default_tab_id,[],{} ,:default=>application_default_tab_id(@application),:id=>"application_default_tab"%></td>
            <td class="label-col empty">&nbsp;</td>
            <td class="data-col empty">&nbsp;</td>
          </tr>
          <tr>
            <td class="label-col"><label for="application_description"><%=t(:label_irm_application_description)%></label></td>
            <td class="data-col" colspan="3" width="82%"><%=f.text_area :description,:rows=>4,:cols=>60 ,:id=>"application_description"%></td>
          </tr>
      </tbody>
    </table>
  <% end %>

  <% content_for :form_buttons  do %>
    <%= link_submit t(:save),{:class=>"btn btn-primary"}%>
    <%= link_back t(:cancel),{},{:class=>"btn cancel"}%>
  <% end %>



    <!--页面结构-->
    <div class="page-block">
      <table class="page-block-header"><tr>
        <td class="page-block-title">
          <h2 class="block-title"><%=t(:label_irm_application_edit)%></h2>
        </td>
        <td class="page-block-button">
          <%= content_for :form_buttons   %>

        </td>
      </tr></table>
      <div class="page-block-body">
        <%= error_for @application%>
        <div class="sub-page-block">
          <div class="sub-page-block-header">
            <%= form_require_info %>
            <h3 class="sub-page-block-title"><%= t(:label_common_info) %></h3>
          </div>
          <div class="sub-page-block-body">
            <%= content_for :form_block_a   %>
          </div>
        </div>

      </div>

      <table class="page-block-footer"><tr>
        <td class="page-block-title">
        </td>
        <td class="page-block-button">
          <%= content_for :form_buttons   %>
        </td>
      </tr></table>
    </div>

<% end %>



<script type="text/javascript">
  $(function(){
      function syncOptions(){
      var OPTIONS_TEMPLATE = "<option value={value}>{label}</option>";
      var originValue = $("#application_default_tab").val();
      $("#application_default_tab").html("");
      var options = "";
      $("#tabsDuel select.target option").each(function(i,e){
          var option = $(OPTIONS_TEMPLATE).html($(e).html()).attr("value",$(e).attr("value"));
          $("#application_default_tab").append(option);
      });
      $("#application_default_tab").val(originValue);
    }
    $("#tabsDuel .duel-add").click(syncOptions);
    $("#tabsDuel .duel-remove").click(syncOptions);
    $("#tabsDuel .duel-up").click(syncOptions);
    $("#tabsDuel .duel-down").click(syncOptions);
    syncOptions();
  });

</script>