<%= page_title %>

<%= form_for(@wf_step_instance,:url=>{:action=>"save_reassign"},:builder => LabellingFormBuilder,:html=>{:id=>"stepInstance"}) do |f| %>
    <%= hidden_params_field(:id)%>
    <%= hidden_params_field(:reject)%>
    <%= back_url_hidden_field_tag%>
<div id="ep" class="edit-block page-block">
  <div class="pbHeader">
    <table cellpadding="0" cellspacing="0" border="0">
      <tbody>
        <tr>
          <td class="pbTitle"><h2 class="mainTitle"><%=t(:label_irm_wf_step_instance_submit)%></h2></td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="pbBody">
    <div id="head_1_ep" class="pbSubheader first tertiaryPalette">
      <span class="pbSubExtra">
        <span class="requiredLegend">
          <span class="requiredExampleOuter">
            <span class="requiredExample">&nbsp;</span>
          </span><span class="requiredMark">*</span>
          <span class="requiredText"> = <%=t(:label_is_required)%></span>
        </span>
      </span>
      <h3><%= t(:label_common_info) %></h3>
    </div>
    <div class="pbSubsection">
      <table class="detailList" cellpadding="0" cellspacing="0" border="0">
        <tbody>
          <% @wf_process_instance.business_object.approval_attributes.each do |attr| %>
            <tr>
              <td class="labelCol"><label><%=attr[:name]%></label></td>
              <td class="dataCol" colspan="3" width="82%"><%= Irm::BusinessObject.attribute_of(@bo_instance,attr.attribute_name)%></td>
            </tr>
          <% end %>
          <tr>
              <td class="labelCol"><label for="wf_step_instance_next_approver_id"><%=t(:label_irm_wf_step_instance_reassing_approver)%></label></td>
              <td class="dataCol"><%= f.blank_select(:next_approver_id,available_person,@wf_process_instance.next_approver_id,:required=>true,:id=>"wf_step_instance_next_approver_id") %></td>
              <td class="labelCol empty"><label><%=t(:label_irm_wf_step_instance_assign_approver)%></label></td>
              <td class="dataCol empty"><%=@wf_step_instance[:assign_approver_name]  %></td>
           </tr>
           <tr>
              <td class="labelCol"><label for="wf_step_instance_comment"><%=t(:label_irm_wf_step_instance_comment)%></label></td>
              <td class="dataCol" colspan="3" width="82%">
                <%=f.text_area :comment,:rows=>5,:cols=>70,:id=>"wf_step_instance_comment"%>
              </td>
           </tr>
           <tr>
              <td class="labelCol empty">&nbsp;</td>
              <td class="dataCol empty">&nbsp;</td>
              <td class="labelCol empty">&nbsp;</td>
              <td class="dataCol empty">&nbsp;</td>
            </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="pbBottomButtons">
    <table cellpadding="0" cellspacing="0" border="0">
      <tbody>
        <tr>
          <td class="pbTitle"></td>
          <td id="bottomButtonRow" class="pbButtonb">
            <div class="button"><%= f.submit t(:submit)%></div>
            <div class="button"><%= link_to t(:cancel),back_url_default%></div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<% end %>