<%= page_title("","") %>
<%= form_for(@wf_step_instance,:url=>{:action=>"submit"},:builder => LabellingFormBuilder) do |f| %>
<div id="ep" class="edit-block page-block">
  <div class="pbHeader">
    <table cellpadding="0" cellspacing="0" border="0">
      <tbody>
        <tr>
          <td class="pbTitle"><h2 class="mainTitle"><%=t(:label_irm_wf_process_instance_select_next_approver)%></h2></td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="pbBody">
    <%= hidden_params_field(:id)%>
    <%= hidden_params_field(:reject)%>
    <%= back_url_hidden_field_tag%>
    <%= f.hidden_field :comment %>
    <div id="head_1_ep" class="pbSubheader first tertiaryPalette">
      <span class="pbSubExtra">
        <span class="requiredLegend">
          <span class="requiredExampleOuter">
            <span class="requiredExample">&nbsp;</span>
          </span><span class="requiredMark">*</span>
          <span class="requiredText"> = <%=t(:label_is_required)%></span>
        </span>
      </span>
      <h3><%= t(:label_common_info) %></h3>
    </div>
    <div class="pbSubsection">
      <table class="detailList" cellpadding="0" cellspacing="0" border="0">
        <tbody>
            <tr>
              <td class="labelCol"><%= t(:label_irm_process_instance_process) %></td>
              <td class="dataCol"><%= Irm::WfApprovalProcess.find(@wf_process_instance.process_id).name  %></td>
              <td class="labelCol empty">&nbsp;</td>
              <td class="dataCol empty">&nbsp;</td>
            </tr>
            <tr>
              <td class="labelCol"><%= t(:label_irm_step_instance_step) %></td>
              <td class="dataCol"><%= @next_step.name  %></td>
              <td class="labelCol empty">&nbsp;</td>
              <td class="dataCol empty">&nbsp;</td>
            </tr>
            <tr>
              <td class="labelCol"><%= t(:label_irm_wf_approval_ste_approver_type) %></td>
              <td class="dataCol"><%= @next_step[:approver_mode_name]  %></td>
              <td class="labelCol empty">&nbsp;</td>
              <td class="dataCol empty">&nbsp;</td>
            </tr>
            <tr>
              <td class="labelCol"><%= t(:label_irm_wf_process_instance_next_approver) %></td>
              <td class="dataCol"><%= f.blank_select(:next_approver_id,available_person,@wf_process_instance.next_approver_id) %></td>
              <td class="labelCol empty">&nbsp;</td>
              <td class="dataCol empty">&nbsp;</td>
            </tr>

        </tbody>
      </table>
    </div>
  </div>
  <div class="pbBottomButtons">
    <table cellpadding="0" cellspacing="0" border="0">
      <tbody>
        <tr>
          <td class="pbTitle"></td>
          <td id="bottomButtonRow" class="pbButtonb">
            <div class="button"><%= f.submit t(:submit)%></div>
            <div class="button"><%= link_to t(:cancel),back_url_default({:action=>"index"})%></div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<% end %>
