<%= common_title(:action_meaning => t(:label_irm_wf_step_instance_submit)) %>
<%= form_for(@wf_step_instance, :url => {:action => "submit"}, :builder => CustomFormBuilder, :html => {:id => "stepInstance"}) do |f| %>
    <%= hidden_params_field(:id) %>
    <%= hidden_params_field(:reject) %>
    <%= back_url_hidden_field_tag %>

    <% content_for :form_block_a do %>
        <table class="form-table">
          <tbody>
          <% step_instance_approvable_fields(@wf_process_instance).each do |attr| %>
              <tr>
                <td class="label-col"><label><%= attr[:name] %></label></td>
                <td class="data-3col" colspan="3" width="82%"><%= Irm::BusinessObject.attribute_of(@bo_instance, attr.attribute_name) %></td>
              </tr>
          <% end %>
          <tr>
            <td class="label-col">
              <label for="wf_step_instance_comment"><%= t(:label_irm_wf_step_instance_comment) %></label></td>
            <td class="data-3col" colspan="3" width="82%">
              <%= f.hidden_field :next_approver_id %>
              <%= f.text_area :comment, :rows => 5, :cols => 70, :id => "wf_step_instance_comment" %>
            </td>
          </tr>
          <tr>
            <td class="label-col empty">&nbsp;</td>
            <td class="data-col empty">&nbsp;</td>
            <td class="label-col empty">&nbsp;</td>
            <td class="data-col empty">&nbsp;</td>
          </tr>
          </tbody>
        </table>
    <% end %>

    <% content_for :form_buttons do %>
        <%= link_submit t(:label_irm_wf_step_instance_approved), {:class => "btn btn-primary"} %>
        <%= link_to t(:label_irm_wf_step_instance_reject), {:action => "submit", :reject => Irm::Constant::SYS_YES}, {:class => "submit btn"} %>
        <%= link_back t(:cancel), {}, {:class => "btn cancel"} %>
    <% end %>



    <!--页面结构-->
    <div class="page-block">
      <table class="page-block-header">
        <tr>
          <td class="page-block-title">
            <h2 class="block-title"></h2>
          </td>
          <td class="page-block-button">
            <%= content_for :form_buttons %>

          </td>
        </tr>
      </table>
      <div class="page-block-body">
        <div class="sub-page-block">
          <div class="sub-page-block-header">
            <%= form_require_info %>
            <h3 class="sub-page-block-title"><%= t(:label_irm_wf_process_instance_select_next_approver) %></h3>
          </div>
          <div class="sub-page-block-body">
            <%= content_for :form_block_a %>
          </div>
        </div>

      </div>

      <table class="page-block-footer">
        <tr>
          <td class="page-block-title">
          </td>
          <td class="page-block-button">
            <%= content_for :form_buttons %>
          </td>
        </tr>
      </table>
    </div>

<% end %>

