<%= page_title("",t(:label_irm_process_instance_submit_error) ) %>
<div id="ep" class="edit-block page-block">
<div class="pbBody">
    <div class="pbSubsection">
      <table class="detailList" cellpadding="0" cellspacing="0" border="0">
        <tbody>
            <% if @next_step&&@wf_process_instance.errors[:next_approver_id].present?%>
            <tr>
              <td class="labelCol"></td>
              <td class="dataCol"><h1><%= @wf_process_instance.errors[:next_approver_id]  %></h1></td>
              <td class="labelCol empty">&nbsp;</td>
              <td class="dataCol empty">&nbsp;</td>
            </tr>
            <tr>
              <td class="labelCol"><%= t(:label_irm_process_instance_process) %></td>
              <td class="dataCol"><%= Irm::WfApprovalProcess.find(@wf_process_instance.process_id).name  %></td>
              <td class="labelCol empty">&nbsp;</td>
              <td class="dataCol empty">&nbsp;</td>
            </tr>
            <tr>
              <td class="labelCol"><%= t(:label_irm_step_instance_step) %></td>
              <td class="dataCol"><%= @next_step.name  %></td>
              <td class="labelCol empty">&nbsp;</td>
              <td class="dataCol empty">&nbsp;</td>
            </tr>
            <tr>
              <td class="labelCol"><%= t(:label_irm_wf_approval_ste_approver_type) %></td>
              <td class="dataCol"><%= @next_step[:approver_mode_name]  %></td>
              <td class="labelCol empty">&nbsp;</td>
              <td class="dataCol empty">&nbsp;</td>
            </tr>

            <% end %>
        </tbody>
      </table>
    </div>
  </div>
  <div class="pbBottomButtons">
    <table cellpadding="0" cellspacing="0" border="0">
      <tbody>
        <tr>
          <td class="pbTitle"></td>
          <td id="bottomButtonRow" class="pbButtonb">
            <div class="button"><%= link_to t(:cancel),back_url_default({:action=>"index"})%></div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

