<% if tasks.blank? %>
<div style="font-size: 15px;"><%= t(:label_no_data) %></div>
 <% else %>
<div class="datatable">
  <div class="irm-datatable">
    <div>
        <table id='rows' >
          <thead>
            <tr>
              <th style="width:220px">
                <div><%= t(:label_irm_todo_task_name) %>
                </div>
              </th>
              <th style="width:180px;">
                <div><%= t(:label_irm_todo_task_due_date) %>
                </div>
              </th>
            </tr>
          </thead>
          <tbody class="yui3-datatable-data">
          <% tasks.limit(5).each do |task| %>
          <tr id="<%=task%>" class="yui3-datatable-even">
            <td>
              <div>
                <%=link_to task[:name], {:controller => "irm/todo_tasks", :action => "show", :id => task.id}%>
              </div>
            </td>
            <td>
              <div>
                <%=task[:due_date].strftime("%F")%>
              </div>
            </td>
          </tr>
          <% end -%>
          </tbody>
        </table>
    </div>
  </div>
</div>
<% end %>