<% show_header ||= false %>
<div class="sub-block">
    <h3 class="lbHeader"></h3>
    <table cellpadding="0" cellspacing="0" border="0" style="width:100%">
      <tbody>
        <tr>
          <td class="pbTitle"><h3 class="lbHeader"><%= t(:label_irm_wf_my_process_step_instance) %></h3></td>
          <td id="topButtonRow" class="pbButton">
          </td>
          <td class="pbHelp">
          </td>
        </tr>
      </tbody>
    </table>
    <div class="pbBody">
    <div class="pbSubsection">
         <% if step_instances.any?||personal_change_approvals.any? %>
         <div class="datatable">
           <div class="irm-datatable">
             <div>
                 <table id='rows' >
                   <thead>
                     <tr>
                       <th>
                         <div>
                           <%= t(:operation) %>
                         </div>
                       </th>
                       <th>
                         <div>
                           <%= t(:label_irm_wf_process_instance_bo_instance) %>
                         </div>
                       </th>
                       <th>
                         <div>
                           <%= t(:label_irm_wf_process_instance_bo_model_name) %>
                         </div>
                       </th>
                       <th>
                         <div>
                           <%= t(:label_irm_wf_process_instance_submitter_name) %>
                         </div>
                       </th>
                       <th>
                         <div>
                           <%= t(:label_irm_wf_process_instance_submitted_at) %>
                         </div>
                       </th>
                     </tr>
                   </thead>

                    <tbody  class="yui3-datatable-data">
                        <% step_instances.each do |step_instance|%>
                          <tr id="stepInstance<%=step_instance.id%>" class="yui3-datatable-even">
                            <td>
                              <div>
                                <%= operations_for(step_instance)%>
                               </div>
                            </td>
                            <td>
                              <div>
                                <%= step_instance_description(step_instance) %>
                               </div>
                            </td>
                            <td>
                              <div>
                                <%= step_instance[:bo_model_meaning] %>
                               </div>
                            </td>
                            <td>
                              <div>
                                <b><%= step_instance[:submitter_name] %></b>
                              </div>
                            </td>
                            <td>
                              <div>
                                <%= format_date(step_instance[:submitted_at]) %>
                              </div>
                            </td>
                          </tr>
                        <% end %>

                        <% personal_change_approvals.each do |change_approval|%>
                          <tr id="changeApproval<%=change_approval.id%>">
                            <td>
                              <div>
                                <%= link_to t(:label_chm_change_approval_approve),{:controller => "chm/change_approvals",:id=>change_approval.id,:action => "approve"} ,{:back=>true } %>
                               </div>
                            </td>
                            <td>
                              <div>
                                <%= link_to change_approval[:title],{:controller => "chm/change_requests",:id=>change_approval.change_request_id,:action => "show"} ,{:back=>true } %>
                               </div>
                            </td>
                            <td>
                              <div>
                                <%= t(:label_chm_change_request) %>
                               </div>
                            </td>
                            <td>
                              <div>
                                <b><%= change_approval[:created_by_name] %></b>
                              </div>
                            </td>
                            <td>
                              <div>
                                <%= format_date(change_approval[:created_at]) %>
                              </div>
                            </td>
                          </tr>
                        <% end %>
                    </tbody>

                 </table>
             </div>
           </div>
         </div>
         <% end %>
    </div>
  </div>
</div>
