<div class="page-block">
    <table class="page-block-header"><tr>
      <td class="page-block-title">
        <h2 class="block-title"><%=t(:label_irm_wf_process_approval_history)%></h2>
      </td>
      <td class="page-block-button">
        <%= process_instance_button(bo_id,bo_model_name)%>
      </td>
    </tr></table>
    <div class="page-block-body">
      <% if process_infos.any? %>
      <div class="datatable">
        <div class="datatable">
          <div>
              <table id='rows' class="datatable">
                <thead>
                  <tr>
                    <th>
                      <div>
                        <%= t(:operation) %>
                      </div>
                    </th>
                    <th>
                      <div>
                        <%= t(:label_irm_wf_process_instance_next_created_at) %>
                      </div>
                    </th>
                    <th>
                      <div>
                        <%= t(:label_irm_wf_step_instance_approval_status_code) %>
                      </div>
                    </th>
                    <th>
                      <div>
                        <%= t(:label_irm_wf_step_instance_assign_approver) %>
                      </div>
                    </th>
                    <th>
                      <div>
                        <%= t(:label_irm_wf_step_instance_actual_approver) %>
                      </div>
                    </th>
                    <th>
                      <div>
                        <%= t(:label_irm_wf_step_instance_comment) %>
                      </div>
                    </th>
                    <th>
                      <div>
                        <%= t(:label_irm_wf_process_instance_global_status) %>
                      </div>
                    </th>
                  </tr>
                </thead>

                <% process_infos.each_with_index do |pi,index| %>
                 <tbody  class="yui3-datatable-data processInfo<%=index%2==0? "Even":"Odd"%>">
                  <tr id="<%=pi[:process_instance].id%>" class="yui3-datatable-even processInstance">
                    <td colspan="2">
                      <div>
                        <b><%=t(:label_irm_wf_approval_process)%>: <%= pi[:process_instance][:process_name]  %></b>
                       </div>
                    </td>
                    <td colspan="3">
                      <div>
                        <b><%=t(:label_irm_wf_process_instance_submitter_name)%>: <%= pi[:process_instance][:submitter_name]  %></b>
                       </div>
                    </td>
                    <td>
                      <div>
                        <%= pi[:process_instance][:comment]  %>
                       </div>
                    </td>
                    <td>
                      <div>
                        <b><%= process_status(pi[:process_instance][:process_status_code_name]) %></b>
                      </div>
                    </td>
                  </tr>
                  <% pi[:step_infos].each do |si| %>
                    <%= render :partial => "irm/wf_process_instances/step_history",:locals => {:step=>si[:step],:step_instances=>si[:step_instances]} %>
                  <% end if pi[:step_infos].any? %>
                 </tbody>
                <% end -%>

              </table>
          </div>
        </div>
      </div>
      <% end %>

    </div>
  </div>