<%= page_title("",t(:label_irm_wf_process_instance_recall)) %>

<%= form_for(@wf_process_instance,:url=>{:action=>"execute_recall"},:builder => LabellingFormBuilder,:html=>{:id=>"stepInstance"}) do |f| %>
    <%= back_url_hidden_field_tag%>
<div id="ep" class="edit-block page-block">
  <div class="pbHeader">
    <table cellpadding="0" cellspacing="0" border="0">
      <tbody>
        <tr>
          <td class="pbTitle"><h2 class="mainTitle"><%=t(:label_irm_wf_process_instance_recall)%></h2></td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="pbBody">
    <div id="head_1_ep" class="pbSubheader first tertiaryPalette">
      <span class="pbSubExtra">
        <span class="requiredLegend">
          <span class="requiredExampleOuter">
            <span class="requiredExample">&nbsp;</span>
          </span><span class="requiredMark">*</span>
          <span class="requiredText"> = <%=t(:label_is_required)%></span>
        </span>
      </span>
      <h3><%= t(:label_common_info) %></h3>
    </div>
    <div class="pbSubsection">
      <table class="detailList" cellpadding="0" cellspacing="0" border="0">
        <tbody>
           <tr>
              <td class="labelCol"><label for="bo_instance"><%=t(:label_irm_wf_process_instance_bo_instance)%></label></td>
              <td class="dataCol">
                <%= process_instance_relation_bo_link(@wf_process_instance) %>
              </td>
              <td class="labelCol"><label for="bo_instance"><%=t(:label_irm_wf_process_instance_submitter_name)%></label></td>
              <td class="dataCol">
                <%= @wf_process_instance[:submitter_name] %>
              </td>
           </tr>
           <tr>
              <td class="labelCol"><label for="wf_process_instance_comment"><%=t(:label_irm_wf_process_instance_comment)%></label></td>
              <td class="dataCol" colspan="3" width="82%">
                <%=f.text_area :comment,:rows=>5,:cols=>70,:id=>"wf_process_instance_comment"%>
              </td>
           </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="pbBottomButtons">
    <table cellpadding="0" cellspacing="0" border="0">
      <tbody>
        <tr>
          <td class="pbTitle"></td>
          <td id="bottomButtonRow" class="pbButtonb">
            <div class="button"><%= f.submit t(:label_irm_wf_process_instance_recall)%></div>
            <div class="button"><%= link_to t(:cancel),back_url_default()%></div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<% end %>