<%= app_title %>
<!--页面结构-->
<div class="page-block">
  <table class="page-block-header"><tr>
    <td class="page-block-title">
      <h2 class="block-title"><%= t(:label_irm_delayed_job_icm_group_assign_monitor) %></h2>
    </td>
  </tr></table>
  <div class="page-block-body">
    <%=datatable_view({:count=>@monitor.count,:datas=>@monitor}) do |builder|%>
      <% builder.column(:incident_request_number,{:title=>t(:label_icm_incident_request_request_number)}) do |log|%>
        <% if allow_to_function?(:reply_incident_request) %>
        <%= link_to log[:incident_request_number],:controller => "icm/incident_journals",:action => "new",:request_id => log[:incident_request_id]%>
        <% else%>
            <%= log[:incident_request_number] %>
        <% end %>
      <% end %>
      <% builder.column(:group_name,{:title=>t(:label_irm_group_show)})%>
      <% builder.column(:run_at,{:title=>t(:label_irm_delayed_jobs_record_run_at)}) do |log|%>
        <%=log[:run_at].strftime("%F %T") if log[:run_at]%>
      <% end %>
      <% builder.column(:end_at,{:title=>t(:label_irm_delayed_jobs_record_end_at)}) do |log|%>
        <%=log[:end_at].strftime("%F %T") if log[:end_at]%>
      <% end %>
      <% builder.column(:job_status,{:title=>t(:label_irm_delayed_jobs_record_status)})%>
    <% end %>
  </div>
</div>
