<div class="modal hide" id="new_value_authority_modal" style="margin-left:-400px ;width: 800px">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">×</button>
    <%= t(:label_dip_add_authority) %>
  </div>
  <div class="modal-body">
    <div class="page-block">
      <table class="page-block-header" style="table-layout: fixed;">
        <tr>
          <td class="page-block-title" style="width: 150px">
            <b><%= t(:cur_label) %> :</b><b id="target_to_add_value"></b></h2>
          </td>
          <td style="text-align: right;">
            <%= select :value_key, :id, Dip::Header.order("name").collect { |h| [h.name, h.id] }, {:include_blank => false}, :style => "margin-bottom:0px" %>
            <button class="btn btn-primary" onclick="create_value_authority(event)"><%= t(:add) %></button>
          </td>
          <td class="page-block-help" style="width: 180px;">
            <div id="searchBox1"></div>
          </td>
        </tr>
      </table>
      <div class="page-block-body">
        <div class="sub-page-block">
          <div class="sub-page-block-body">
            <%= datatable("data_area1", {:action => "get_unauthorized_value", :controller => "dip/dip_authority"},
                          [],
                          {:search_box => "searchBox1", :lazy_load => true, :paginator_box => "paginator1", :scroll => {:mode => "xy", :height => 250}}) %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="submit" class="btn btn-primary" data-dismiss="modal"><%= t(:close) %></button>
  </div>
</div>


<script type="text/javascript">
    $(document).ready(function () {
        $("#value_key_id").bind('change', function (event) {
            var current_target = $("#data_area1").data("datatable").target;
            var params = current_target.data.options.defaultOptions;
            params['headerId'] = $("#value_key_id").val();
            current_target.data.options.defaultOptions = params;
            current_target.loadPage(1);
        });
    });
    function create_value_authority(event) {
        var checkboxes = $("input[name='valueIds3']").toArray()
        var selectedIds = []
        var i = 0
        for (var checkbox in checkboxes) {
            if (checkboxes[checkbox].checked) {
                selectedIds[i] = checkboxes[checkbox].value
                ++i
            }
        }
        if (selectedIds.length > 0) {
            $.post("<%= url_for({:action=>:add_value_authority,:controller => "dip/dip_authority",:format=>:json})%>",
                    {valueIds:selectedIds, targetId:$("#cur_target_id").val(), targetType:$("#cur_note_type").val()},
                    function (result) {
                        var current_target = $("#value_table").data("datatable").target;
                        current_target.loadPage(1);
                        var current_target1 = $("#data_area1").data("datatable").target;
                        current_target1.loadPage(1);
                    })
        }
    }
</script>