<table class="page-block-header" style="table-layout: fixed;width: 100%;">
  <tr style="height: 14px">
    <td class="page-block-button" style="text-align: right;">
      <%= select :header, :id, Dip::Header.order("name").collect { |h| [h.name, h.id] }, {:include_blank => false}, :style => "min-width:150px;margin-bottom:0px;" %>
      <button class="btn btn-primary" onclick="add_value_authority_wnd(event)"><%= t(:label_dip_add_value_authority) %></button>
      <button class="btn btn-primary" onclick="drop_value_authority(event)"><%= t(:delete_authority) %></button>
    </td>
  </tr>
</table>
<%= datatable("value_table", {:action => "get_authorized_value", :controller => "dip/dip_authority"}, [],
              {:paginator_box => "paginatorBox1", :lazy_load => true,
               :scroll => {:mode => "xy", :height => 340}}) %>
<script type="text/javascript">
    $("document").ready(function () {
        $("#header_id").bind('change', function () {
            var params = {};
            params['headerId'] = $("#header_id").val();
            var current_target = $("#value_table").data("datatable").target;
            current_target.data.options.searchOptions = params;
            current_target.loadPage(1);
        });
    });
    function add_value_authority_wnd(event) {
        if ($("#cur_target_id").val().length>0) {
            $("#target_to_add_value").text($("#cur_org_user_label").text());
            var params = {};
            params['targetId'] = $("#cur_target_id").val();
            params['targetType'] = $("#cur_note_type").val();
            params['headerId'] = $("#value_key_id").val()
            var current_target = $("#data_area1").data("datatable").target;
            current_target.data.options.defaultOptions = params;
            current_target.loadPage(1);
            $("#new_value_authority_modal").modal("show");
        }

    }
    function drop_value_authority(event) {
        var checkboxes = $("input[name='valueIds']").toArray()
        var selectedIds = []
        var i = 0
        for (var checkbox in checkboxes) {
            if (checkboxes[checkbox].checked) {
                selectedIds[i] = checkboxes[checkbox].value
                ++i
            }
        }
        if (selectedIds.length > 0) {
            $.post("<%= url_for({:action=>:destroy_authorized,:controller => "dip/dip_authority",:format=>:json})%>",
                    {valueIds:selectedIds, targetId:$("#cur_target_id").val()}, function (result) {
                var current_target = $("#value_table").data("datatable").target;
                current_target.loadPage(1);
            });
        }
    }
</script>
