<% size = 14 unless defined?(size)%>
<%column_size = (defined?(order)&&order ? 4:3 )%>
<table class="duel-select" id="<%= str_value_field %>DuelSelect" style="_width:100%;" >
  <%if defined?(types)&&types&&types.is_a?(Array)&&types.any?%>
    <tr class="duel-search-box">
      <td colspan="<%= column_size %>">
        <div class="float-left">
           <%=select_tag_alias :duel_type,types,{},:class=>"duel-type" %>
        </div>
        <div class="float-left">
          <input type="text" size="30" class="duel-query"/>
        </div>
        <div class="float-left">
           <a href="javascript:void(0)" class="btn cancel duel-search-button"><%=t(:search)%></a>
        </div>
      </td>
    </tr>
  <%end%>
  <tr class="duel-title">
    <th><%= t(:duel_selectable)%></th>
    <th></th>
    <th><%= t(:duel_selected)%></th>
  </tr>
  <tr class="duel-list">
    <td class="source-cell">
      <%= select_tag_alias(:source,sources,nil,{:class=>"source",:multiple=>true,:size=>size}) %>
    </td>
    <td class="button-cell">
      <div class="text"><%= t(:add) %></div>
      <div class="text">
        <a href="javascript:void(0)" class="duel-add"><img title="<%= t(:add) %>" class="right-arrow-icon" alt="<%= t(:add) %>" src="<%= theme_image_path("s.gif") %>"></a>
      </div>
      <div class="text">
        <a href="javascript:void(0)" class="duel-remove"><img title="<%= t(:delete) %>" class="left-arrow-icon" alt="<%= t(:delete) %>" src="<%= theme_image_path("s.gif") %>"></a>
      </div>
      <div class="dueling-text"><%= t(:delete) %></div>
    </td>
    <td class="target-cell">
      <% if defined?(f)&&f.present?%>
        <%= f.hidden_field(str_value_field,:value=>str_value,:class=>"duel-value") %>
      <% else %>
        <%= hidden_field_tag(str_value_field,str_value,:class=>"duel-value") %>
      <% end %>
      <%= select_tag_alias(:target,[],nil,{:class=>"target",:multiple=>true,:size=>size}) %>
    </td>
    <% if defined?(order)&&order%>
      <td class="button-cell">
        <div class="text"><%= t(:up) %></div>
        <div class="text">
          <a href="javascript:void(0)" class="duel-up"><img title="<%= t(:up) %>" class="up-arrow-icon" alt="<%= t(:add) %>" src="<%= theme_image_path("s.gif") %>"></a>
        </div>
        <div class="text">
          <a href="javascript:void(0)" class="duel-down"><img title="<%= t(:down) %>" class="down-arrow-icon" alt="<%= t(:delete) %>" src="<%= theme_image_path("s.gif") %>"></a>
        </div>
        <div class="dueling-text"><%= t(:down) %></div>
      </td>
    <% end %>
  </tr>
</table>
<script type="text/javascript">
  $(function(){
      $("#<%= str_value_field %>DuelSelect").duelselect();
      //搜索框禁止按回车刷新
      $(".duel-query").keypress(function(e){
         if(e.keyCode == 13) {
            $(".duel-search-button").click();
             return false;
         }
      });
  });
</script>