<style type="text/css">
  table#reportData td,th{
       padding: 3px 2px 3px 5px;
  }
</style>
<!--  irm datatable      -->
 <div class="irm-datatable">
   <div>
       <table id="reportData" count="<%=datas[:datas].count%>">
         <thead>
           <tr>
             <th style="width:110px;">
               <div><%= t(:label_irm_person) %></div>
             </th>
             <th style="width:110px;">
               <div><%= t(:label_irm_person_login) %></div>
             </th>
             <th style="width:110px;">
               <div><%= t(:label_irm_login_record_user_ip) %></div>
             </th>
             <th style="width:160px;">
               <div><%= t(:label_irm_login_record_operate_system) %></div>
             </th>
             <th  style="width:160px;">
               <div><%= t(:label_irm_login_record_browser) %></div>
             </th>
             <th style="width:180px;">
               <div><%= t(:label_irm_login_record_login_at) %></div>
             </th>
             <th style="width:180px;">
               <div><%= t(:label_irm_login_record_logout_at) %></div>
             </th>
           </tr>
         </thead>
         <tbody>
         <% datas[:datas].each do |data| %>
         <tr id="<%=data[:id]%>">
           <td>
             <div>
               <%= data[:full_name] %>
             </div>
           </td>
           <td>
             <div>
               <%= data[:login_name] %>
             </div>
           </td>
           <td>
             <div>
               <%= data[:user_ip] %>
             </div>
           </td>
           <td>
             <div>
               <%= data[:operate_system] %>
             </div>
           </td>
           <td>
             <div>
               <%= data[:browser] %>
             </div>
           </td>
           <td>
             <div>
               <%= show_report_cell(data[:login_at]) %>
             </div>
           </td>
           <td>
             <div>
               <%= show_report_cell(data[:logout_at]) %>
             </div>
           </td>
         </tr>
         <% end -%>
         </tbody>
       </table>
   </div>
 </div>
<!--  end irm datatable      -->