<table class="form-table baseFilter" id="baseFilter">
  <tbody>
  <tr>
        <td>
          <label for="loginPerson_label"><%= t(:label_irm_person) %></label>
          <div style="white-space:nowrap">
            <%= lov_field_tag(:person_id,Irm::Person,:name=>"program_params[person_id]",:value=>program_params[:person_id],:id=>"loginPerson") %>
          </div>
        </td>
        <td>
          <fieldset>
            <legend>
              <%= t(:label_irm_report_time_range) %>
            </legend>
            <table>
              <tr>
                <td>
                  <label for="filterDateFrom"><%= t(:label_irm_report_filter_date_from) %></label>
                  <%= date_field_tag(:date_from,:value=>program_params[:date_from],:id=>"filterDateFrom",:name=>"program_params[date_from]",:nobutton=>true)%>
                </td>
                <td>
                  <label for="filterDateTo"><%= t(:label_irm_report_filter_date_to) %></label>
                  <%= date_field_tag(:date_to,:value=>program_params[:date_to],:id=>"filterDateTo",:name=>"program_params[date_to]",:nobutton=>true)%>
                </td>
              </tr>
            </table>
          </fieldset>
        </td>
      </tr>

  </tbody>
</table>