<%= form_for(@oauth_access_client,:url=>{:action=>"update"},:builder => LabellingFormBuilder) do |f| %>
<div id="ep" class="edit-block page-block">
  <div class="pbHeader">
    <table cellpadding="0" cellspacing="0" border="0">
      <tbody>
        <tr>
          <td class="pbTitle"><h2 class="mainTitle"><%=t(:label_irm_oauth_access_client)%></h2></td>
          <td id="topButtonRow" class="pbButton">
            <div class="button"><%= f.submit t(:save)%></div>
            <div class="button"><%= link_back t(:cancel)%></div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="pbBody">
    <%= error_for @oauth_access_client %>
    <div id="head_1_ep" class="pbSubheader first tertiaryPalette">
      <span class="pbSubExtra">
        <span class="requiredLegend">
          <span class="requiredExampleOuter">
            <span class="requiredExample">&nbsp;</span>
          </span><span class="requiredMark">*</span>
          <span class="requiredText"> = <%=t(:label_is_required)%></span>
        </span>
      </span>
      <h3><%= t(:label_common_info) %></h3>
    </div>
    <div class="pbSubsection">
      <table class="detailList" cellpadding="0" cellspacing="0" border="0">
        <tbody>
        <tr>
          <td class="labelCol"><label><%=(t :code)%></label></td>
          <td class="dataCol"><%=@oauth_access_client.code%></td>
          <td class="labelCol empty">&nbsp;</td>
          <td class="dataCol empty">&nbsp;</td>
        </tr>
        <tr>
          <td class="labelCol"><label><%=(t :name)%></label></td>
          <td class="dataCol"><%=f.text_field :name, :required=>true%></td>
          <td class="labelCol empty">&nbsp;</td>
          <td class="dataCol empty">&nbsp;</td>
        </tr>
        <tr>
          <td class="labelCol"><label><%=(t :description)%></label></td>
          <td class="dataCol" colspan="4" style="width:82%"><%=f.text_area :description, :rows => 4%></td>
        </tr>
        <tr>
          <td class="labelCol"><label><%=(t :label_irm_oauth_access_client_site_image_url)%></label></td>
          <td class="dataCol"><%= f.text_field :site_image_url%></td>
          <td class="labelCol empty">&nbsp;</td>
          <td class="dataCol empty">&nbsp;</td>
        </tr>
        <tr>
          <td class="labelCol"><label><%=(t :label_irm_oauth_access_client_site_url)%></label></td>
          <td class="dataCol"><%= f.text_field :site_url%></td>
          <td class="labelCol empty">&nbsp;</td>
          <td class="dataCol empty">&nbsp;</td>
        </tr>
        <tr>
          <td class="labelCol"><label><%=(t :label_irm_oauth_access_client_callback_url)%></label></td>
          <td class="dataCol"><%= f.text_field :callback_url,:required=>true%></td>
          <td class="labelCol empty">&nbsp;</td>
          <td class="dataCol empty">&nbsp;</td>
        </tr>
        <tr>
          <td class="labelCol"><label><%=(t :label_irm_oauth_access_client_token)%></label></td>
          <td class="dataCol"><%= f.text_field :token,:required=>true%></td>
          <td class="labelCol empty">&nbsp;</td>
          <td class="dataCol empty">&nbsp;</td>
        </tr>
        <tr>
          <td class="labelCol"><label><%=(t :label_irm_oauth_access_client_secret)%></label></td>
          <td class="dataCol"><%= f.text_field :secret,:required=>true%></td>
          <td class="labelCol empty">&nbsp;</td>
          <td class="dataCol empty">&nbsp;</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="pbBottomButtons">
    <table cellpadding="0" cellspacing="0" border="0">
      <tbody>
        <tr>
          <td class="pbTitle"></td>
          <td id="bottomButtonRow" class="pbButtonb">
            <div class="button"><%= f.submit t(:save)%></div>
            <div class="button"><%= link_back t(:cancel)%></div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<% end %>
