<div class="modal hide" id="create_modal">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">×</button>
    <h3><%= t(:label_dip_column_create) %></h3>
  </div>
  <div class="modal-body">
    <div id="create_template_column_msg"></div>
    <table class="detailList" cellpadding="0" cellspacing="0" border="0">
      <tbody>
      <tr>
        <td class="label-col"><label><%= (t :name) %></label></td>
        <td class="data-col" colspan="3"><input type="text" id="new_column_name" style="width: 350px;"/>
        </td>
      </tr>
      <tr>
        <td class="label-col"><label><%= (t :label_dip_column_name) %></label></td>
        <td class="data-col" colspan="3"><input type="text" id="column_name" style="width: 350px;"/>
        </td>
      </tr>
      <tr>
        <td class="label-col"><label><%= (t :label_dip_view_column) %></label></td>
        <td class="data-col" colspan="3"><input type="text" id="view_column" style="width: 350px;"/>
        </td>
      </tr>
    <tr>
        <td class="label-col"><label><%= (t :label_dip_column_length) %></label></td>
        <td class="data-col" colspan="3"><input type="text" id="column_length" style="width: 350px;"/>
        </td>
      </tr>
      <tr>
        <td class="label-col"><label><%= (t :label_dip_column_data_type) %></label></td>
        <td class="data-col" colspan="3"><%= select :data_type, "", [["VARCHAR2"], ["NUMBER"], ["DATE"]], {:include_blank => false}, :id => :data_type, :style => "width:360px" %></td>
      </tr>
      <tr>
        <td class="label-col"><label style="margin-bottom: 0px;"><%= (t :label_dip_column_is_pk) %></label></td>
        <td class="data-col"><input type="checkbox" id="is_pk" style="width: 140px;"/></td>
        <td class="label-col"><label style="margin-bottom: 0px;"><%= (t :label_editable) %></label></td>
        <td class="data-col"><input type="checkbox" id="editable" style="width: 140px;"/></td>
      </tr>
      <tr>
        <td class="label-col"><label style="margin-bottom: 0px;"><%= (t :label_dip_column_mapped) %></label></td>
        <td class="data-col"><input type="checkbox" id="mapped" style="width: 140px;"/></td>
        <td class="label-col"><label style="margin-bottom: 0px;"><%= (t :label_dip_column_omitted) %></label></td>
        <td class="data-col"><input type="checkbox" id="omitted" style="width: 140px;"/></td>
      </tr>
	  <tr>
        <td class="label-col"><label><%= (t :label_value_list_program) %></label></td>
        <td class="data-col" colspan="3"><input type="text" id="value_list" style="width: 350px;"/></td>
      </tr>
      </tbody>
    </table>
  </div>
  <div class="modal-footer">
    <button type="submit" class="btn btn-primary" onclick="createTemplateColumn(event)"><%= t(:save) %></button>
    <button type="submit" class="btn" data-dismiss="modal"><%= t(:close) %></button>
  </div>
</div>
<script>
    function createTemplateColumn(event) {
        $.post("<%= url_for({:action =>:create,:controller => "dip/template_column",:format=>:json})%>", {name:$("#new_column_name").val(),
            column_name:$("#column_name").val(),
            is_pk:$("#is_pk").attr("checked"),
            template_id:$("#cur_template").val(),
            omitted:$("#omitted").attr("checked"),
            mapped:$("#mapped").attr("checked"),
            data_type:$("#data_type").val(),
            editable:$("#editable").attr("checked"),
            value_list:$("#value_list").val(),
            view_column:$("#view_column").val(),
			column_length:$("#column_length").val()
        }, function (result) {
            if (result.success) {
                $("#create_modal").modal("hide");
                showFadeBackMessage("edit_template_msg", result.msg);
                var current_target = $("#lookup_type").data("datatable").target;
                current_target.loadPage(1);
            } else {
                showFadeBackMessage("create_template_column_msg", result.msg);
            }
        }, "json");
    }
</script>
