<div class="modal hide" id="edit_modal">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">×</button>
    <h3><%= t(:label_dip_column_edit) %></h3>
  </div>
  <div class="modal-body">
    <div id="edit_template_column_msg"></div>
    <table class="detailList" cellpadding="0" cellspacing="0" border="0">
      <tbody>
      <tr>
        <td class="label-col"><label><%= (t :name) %></label></td>
        <td class="data-col" colspan="3"><input type="text" id="_name" style="width: 350px;"/></td>
      </tr>
      <tr>
        <td class="label-col"><label><%= (t :label_dip_column_name) %></label></td>
        <td class="data-col" colspan="3"><input type="text" id="_column_name" style="width: 350px;"/>
        </td>
        <input type="hidden" id="cur_template_column"/>
      </tr>
      <tr>
        <td class="label-col"><label><%= (t :label_dip_view_column) %></label></td>
        <td class="data-col" colspan="3"><input type="text" id="_view_column"  style="width: 350px;"/>
        </td>
      </tr>
      <tr>
        <td class="label-col"><label><%= (t :label_dip_column_length) %></label></td>
        <td class="data-col" colspan="3"><input type="text" id="_column_length" style="width: 350px;"/>
        </td>
      </tr>
      <tr>
        <td class="label-col"><label><%= (t :label_dip_column_data_type) %></label></td>
        <td class="data-col" colspan="3"><%= select :data_type, "", [["VARCHAR2"], ["NUMBER"], ["DATE"]], {:include_blank => false}, :id => :_data_type, :style => "width:360px" %></td>
      </tr>
      <tr>
        <td class="label-col"><label style="margin-bottom: 0px;"><%= (t :label_dip_column_is_pk) %></label></td>
        <td class="data-col"><input type="checkbox" id="_is_pk" style="width: 140px;"/></td>
        <td class="label-col"><label style="margin-bottom: 0px;"><%= (t :label_editable) %></label></td>
        <td class="data-col"><input type="checkbox" id="_editable" style="width: 140px;"/></td>
      </tr>
      <tr>
        <td class="label-col"><label style="margin-bottom: 0px;"><%= (t :label_dip_column_mapped) %></label></td>
        <td class="data-col"><input type="checkbox" id="_mapped" style="width: 140px;"/></td>
        <td class="label-col"><label style="margin-bottom: 0px;"><%= (t :label_dip_column_omitted) %></label></td>
        <td class="data-col"><input type="checkbox" id="_omitted" style="width: 140px;"/></td>
      </tr>
	  <tr>
        <td class="label-col"><label><%= (t :label_value_list_program) %></label></td>
        <td class="data-col" colspan="3"><input type="text" id="_value_list" style="width: 350px;"/></td>
      </tr>
      </tbody>
    </table>
  </div>
  <div class="modal-footer">
    <button type="submit" class="btn btn-primary" onclick="editTemplateColumn(event)"><%= t(:save) %></button>
    <button type="submit" class="btn" data-dismiss="modal"><%= t(:close) %></button>
  </div>
</div>
<script>
    function editTemplateColumn(event) {
        $.post("<%= url_for({:action =>:update,:controller => "dip/template_column",:format=>:json})%>",
                {name:$("#_name").val(), column_name:$("#_column_name").val(),
                    is_pk:$("#_is_pk").attr("checked"),
                    omitted:$("#_omitted").attr("checked"),
                    mapped:$("#_mapped").attr("checked"),
                    data_type:$("#_data_type").val(),
                    id:$("#cur_template_column").val(),
                    editable:$("#_editable").attr("checked"),
                    value_list:$("#_value_list").val(),
                    view_column:$("#_view_column").val(),
					column_length:$("#_column_length").val()
                }, function (result) {
                    if (result.success) {
                        $("#edit_modal").modal("hide");
                        showFadeBackMessage("edit_template_msg", result.msg);
                        var current_target = $("#lookup_type").data("datatable").target;
                        current_target.loadPage(1);
                    } else {
                        showFadeBackMessage("edit_template_column_msg", result.msg);
                    }
                }, "json");
    }
</script>
