<%= common_title %>
<!--页面结构-->
<div class="show-block">
  <table class="page-block-header"><tr>
    <td class="page-block-title">
      <h2 class="block-title"><%= t(:label_irm_ldap_auth_rule) %></h2>
    </td>
    <td class="page-block-button">
      <%= link_to t(:edit), {:action => "edit", :id => @ldap_auth_rule},:class=>"btn btn-info"%>
      <%= link_to t(:back), {:controller => "irm/ldap_auth_headers", :action => "show", :id =>  @ldap_auth_rule.ldap_auth_header_id},:class=>"btn" %>
    </td>
  </tr></table>
  <div class="page-block-body">
    <table class="show-table">
      <tbody>
      <tr>
        <td class="label-col"><label><%=t(:irm_filter_criterions_column_code)%></label></td>
        <td class="data-col"><%= @ldap_auth_rule.attr_field %></td>
      </tr>
      <tr>
        <td class="label-col"><label><%=t(:irm_filter_criterions_operator_code)%></label></td>
        <td class="data-col"><%= Irm::LookupValue.get_meaning("RULE_FILTER_OPERATOR", @ldap_auth_rule.operator_code) %></td>
      </tr>
      <tr>
        <td class="label-col"><label><%=t(:irm_filter_criterions_filter_value)%></label></td>
        <td class="data-col"><%= @ldap_auth_rule.attr_value %></td>
      </tr>
      <tr>
        <td class="label-col"><label><%=t(:ldap_auth_header_template_person)%></label></td>
        <td class="data-col"><%= @ldap_auth_rule[:full_name] %></td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
