<%= form_for(@data_share_rule,:url=>{:action=>"update",:id=>@data_share_rule[:id]},:builder => CustomFormBuilder) do |f| %>
  <% content_for :form_block_step_1   do%>
    <table class="form-table">
      <tbody>
          <tr>
            <td class="label-col"><label for="code"><%=t(:code)%></label></td>
            <td class="data-col"><%=f.text_field :code , :required=>true ,:id=>"code",:irm_uppercase=>true%></td>
            <td class="label-col empty"><%= f.hidden_field(:rule_type,:value=>"BASE_ON_REPORT_OWNER") %>&nbsp;</td>
            <td class="data-col empty"><%= f.hidden_field(:business_object_id ,:value=>@data_share_rule[:business_object_id] ) %>&nbsp;</td>
          </tr>
          <tr>
            <td class="label-col"><label for="name"><%=t(:name)%></label></td>
            <td class="data-3col" colspan="3"><%=f.text_field :name, :required=>true ,:id=>"name"%></td>

          </tr>
      </tbody>
    </table>
  <% end %>
  <% content_for :form_block_step_2 do %>
    <table class="form-table">
      <tbody>
          <tr>
            <td class="label-col"><label for="code"><%=t(:label_irm_data_share_rule_belong_to)%></label></td>
            <td class="data-3col" colspan="3">
              <div id="step2" class="float-left">
                <%=f.select :source_type,available_types,{},{:required=>true,:id=>"source_type"}%>
                <%=f.select :source_id,[],{},{:id=>"source_id" ,:depend=>"source_type",:origin_value=>@data_share_rule.source_id,:blank=> "--- #{t(:actionview_instancetag_blank_option)} ---",:href=>url_for(:controller=>"irm/data_share_rules",:action=>"get_option",:format=>"json",:subject_type=>"${source_type}")}%>
              </div>
            </td>
          </tr>
        </tbody>
    </table>
  <% end %>
  <% content_for :form_block_step_3 do %>
     <table class="form-table">
       <tbody>
           <tr>
             <td class="label-col"><label for="code"><%=t(:label_irm_data_share_rule_share_with)%></label></td>
             <td class="data-3col" colspan="3">
               <div class="float-left" id="step3">
                 <%=f.select :target_type,available_types,{},{:required=>true, :id=>"target_type"}%>
                 <%=f.select :target_id,[],{},{:id=>"target_id" ,:depend=>"target_type",:origin_value=>@data_share_rule.target_id,:blank=> "--- #{t(:actionview_instancetag_blank_option)} ---",:href=>url_for(:controller=>"irm/data_share_rules",:action=>"get_option",:format=>"json",:subject_type=>"${target_type}")}%>
               </div>
             </td>
           </tr>
       </tbody>
     </table>
  <% end %>
  <% content_for :form_block_step_4  do %>
     <table class="form-table">
       <tbody>
          <tr>
            <td class="label-col"><label for="code"><%=t(:label_irm_data_access)%></label></td>
            <td class="data-3col" colspan="3">
              <div class="float-left">
                <%=f.select :access_level,available_access_level,{},{:required=>true,:id=>"access_level",:name=>"irm_data_share_rule[access_level]"}%>
              </div>
            </td>
          </tr>
       </tbody>
     </table>
  <% end %>

  <% content_for :form_buttons  do %>
    <%= link_submit t(:save),{:class=>"btn btn-primary"}%>
    <%= link_back t(:cancel),{},{:class=>"btn cancel"}%>
  <% end %>
  <!--页面结构-->
  <div class="page-block">
    <table class="page-block-header"><tr>
      <td class="page-block-title">
        <h2 class="block-title"><%=t(:label_irm_data_share_rule)%></h2>
      </td>
      <td class="page-block-button">
        <%= content_for :form_buttons   %>
      </td>
    </tr></table>
    <%= error_for @data_share_rule %>
    <div class="page-block-body">
      <div class="sub-page-block">
        <!--  步骤一：规则名 -->
        <div class="sub-page-block-header">
          <%= form_require_info %>
          <h3 class="sub-page-block-title"><%= t(:label_irm_data_share_rule_step1) %></h3>
        </div>
        <div class="sub-page-block-body">
          <%= content_for :form_block_step_1 %>
        </div>
        <!--  步骤二：选择要共享的记录 -->
        <div class="sub-page-block-header">
          <%= form_require_info %>
          <h3 class="sub-page-block-title"><%= t(:label_irm_data_share_rule_step2) %></h3>
        </div>
        <div class="sub-page-block-body">
          <%= content_for :form_block_step_2 %>
        </div>
        <!--  步骤三：选择与其共享记录的用户 -->
        <div class="sub-page-block-header">
          <%= form_require_info %>
          <h3 class="sub-page-block-title"><%= t(:label_irm_data_share_rule_step3) %></h3>
        </div>
        <div class="sub-page-block-body">
          <%= content_for :form_block_step_3 %>
        </div>
        <!--  步骤四：选择用户的访问权限等级 -->
        <div class="sub-page-block-header">
          <%= form_require_info %>
          <h3 class="sub-page-block-title"><%= t(:label_irm_data_share_rule_step4) %></h3>
        </div>
        <div class="sub-page-block-body">
          <%= content_for :form_block_step_4 %>
        </div>
      </div>
    </div>
    <table class="page-block-footer"><tr>
      <td class="page-block-title">
      </td>
      <td class="page-block-button">
        <%= content_for :form_buttons   %>
      </td>
    </tr></table>
  </div>
<% end %>

<script type="text/javascript">
  $(function(){
     if($("#source_type")){
        $("#source_type").cascade("#source_id");
     }
     if($("#target_type")){
        $("#target_type").cascade("#target_id");
     }
  });
</script>