<% require_jscss(:jpolite) %>

<ul id="main_nav" style="display:none;">
   <li id="t1"><b class="hover">homePage</b></li>
</ul>
<div id="jpolite_content"  class="jpolite-container">
    <% 1.upto(pconfig[5]).each do |index| %>
      <div id="c<%=index%>" class="cc"></div>
    <% end %>
</div>

<!-- A default template is required here without an ID -->
<div class="module_template">
	<div class="moduleFrame">
		<div class='moduleHeader'>
			<div class='moduleTitle'></div>
			<div class='moduleActions'>
				<b title="Refresh" class="actionRefresh"></b>
				<b title="Collapse" class="actionMin"></b>
				<b title="Expand" class="actionMax"></b>
				<b title="Close" class="actionClose"></b>
			</div>
		</div>
		<div class='moduleContent'>
		</div>
	</div>
</div>
<!-- portal_layout设置窗口 -->
<div class="modal" id="portalLayoutModal" style="display: none;">
  <%= form_tag(:controller => "portlet_configs", :action =>"save_portal_layout", :method => "post") do %>
  <div class="modal-header">
    <a data-dismiss="modal" class="close" href="#">×</a>
    <h3><%= t(:label_irm_portlet_change_layout) %></h3>
  </div>
  <div class="modal-body">
    <div id="portalLayouts">

          <%= hidden_field_tag "portal_layout_id", pconfig[1].id, :id=>"portal_layout_id" %>
          <table class="form-table portal-setting" style="width: 100%">
              <tr>
                <td class="label-2col" colspan="2"><label for="portalLayoutSelect"><%= t(:label_irm_portlet_select_layout) %></label></td>
                <td class="data-2col" colspan="2"><%= select_for_layouts "portalContainerSelect", available_portal_layouts , pconfig[1].id,{:required=>true,:id=>"portalContainerSelect" } %></td>
              </tr>
              <tr>
                <td class="button-col" colspan="4">
                  <!--  current portal_layout preview -->
                    <div class="current-layout"></div>
                  <!--  end of current portal_layout preview -->
                </td>
              </tr>
              <tr>
                <td colspan="4"></td>
              </tr>
          </table>

    </div>
  </div>
  <div class="modal-footer">
    <a data-dismiss="modal" class="btn" href="#"><%= t(:cancel) %></a>
    <%= link_submit(t(:save),{:class=>"btn btn-primary"})%>
  </div>
  <% end %>
</div>
<!-- 结束portal_layout-->


<!-- portal_layout设置窗口 -->
<div class="modal" id="portletModal" style="display: none;">
  <div class="modal-header">
    <a data-dismiss="modal" class="close" href="#">×</a>
    <h3><%= t(:label_irm_portlet_custom_home_page) %></h3>
  </div>
  <div class="modal-body">
    <div id="portletList">
          <table id="modules" style="font-size:12px;width:100%;" class="form-table">
            <% (0..pconfig[0].length-1).step(3) do |index| %>
              <tr>
                <td>
                  <%= check_box_tag 'modules[]', pconfig[0][index].id,false,:class=>"addModule",:ref=> pconfig[0][index].id,:id=>"check#{pconfig[0][index].id}"%>
                  <label for="check<%=pconfig[0][index].id%>"><%= pconfig[0][index][:name] %></label>
                </td>
                <td>
                  <% if pconfig[0][index+1] %>
                    <%= check_box_tag 'modules[]', pconfig[0][index+1].id,false,:class=>"addModule",:ref=> pconfig[0][index+1].id,:id=>"check#{pconfig[0][index+1].id}"%>
                    <label for="check<%=pconfig[0][index+1].id%>"><%= pconfig[0][index+1][:name] %></label>
                  <% end %>
                </td>
                <td>
                  <% if pconfig[0][index+2] %>
                    <%= check_box_tag 'modules[]', pconfig[0][index+2].id,false,:class=>"addModule",:ref=> pconfig[0][index+2].id,:id=>"check#{pconfig[0][index+2].id}"%>
                    <label for="check<%=pconfig[0][index+2].id%>"><%= pconfig[0][index+2][:name] %></label>
                  <% end %>
                </td>
              </tr>
            <% end %>
          </table>

        </div>
  </div>
  <div class="modal-footer">
    <a data-dismiss="modal" class="btn" href="#"><%= t(:close) %></a>
  </div>
</div>

<script>
  var _modules=window["eval"]("(" +'<%=pconfig[2]%>'+ ")");
  var _moduleLayout=window["eval"]("(" +"<%=pconfig[3]%>"+ ")");
  var _columnLayout = window["eval"]("(" +"<%=pconfig[4]%>"+ ")");

  var portal_options = {};
  portal_options.layoutPersistence = [
    function() {
        return window["eval"]("(" + $.cookie('jpolite2layout') + ")")
    },
    function(portal_options) {
        //通过ajax保存配置信息至数据库
        $.ajax({
          type: 'POST',
          url: '/portlet_configs/save_portal_config',
          data: {portal_config: portal_options,_dom_id:"portal"},
          dataType: 'json',
          success: function(data) { },
          error: function() {}
        });
        //设置portal 配置到cookie
        return $.cookie('jpolite2layout', portal_options);
    }
  ]
  initPortal(portal_options);

  $(function(){
      $("#portalLayoutModal").modal({show:false});
      $("#portletModal").modal({show:false});
      $("#portalSetting").click(function(e){
          //已经显示在portal中的模块
          var showedModules = $.jpolite.getShowModules();
          $("#portletList input.addModule").each(function(index,module){
              var id = $(module).attr("ref");
              if($.inArray("m"+id,showedModules)>-1){
                  $(module).attr("checked",true);
              }else{
                  $(module).attr("checked",false);
              }
          });
          $("#portletModal").modal("show");
      });
      $("#portletList input.addModule").click(function(e){
            if($(e.currentTarget).is(":checked")){
                $.jpolite.addModule({
			    	id: "m"+$(e.currentTarget).attr("ref"),
			    	c:	'c1',	//Add to c1 of current tab by default
			    	mc: '',
			    	mt:	''
			    });
            }else{
                $.jpolite.removeModule("m"+$(e.currentTarget).attr("ref"));
            }

      });
      //设置当前的布局
      var current_layout ='<%=pconfig[1].layout%>';
      var current_layout_container = $(".current-layout");
      setLayoutPreview(current_layout, current_layout_container);
      $("#portalChangeLayout").click(function(e){
          //设置portal_layout窗口
          $("#portalLayoutModal").modal("show");
      });
      //当选择某一中布局方式的时候
      $("#portalContainerSelect").change(function(){
          if($(this).val()) {
              $("#portal_layout_id").val($(this).val());
              current_layout = $(this).find("option:selected").attr("layout");
              if (typeof current_layout != undefined && current_layout) {
                  setLayoutPreview(current_layout, current_layout_container);
              }
          }
      });


      function setLayoutPreview(current_layout, container) {
          container.html("");
          $.each(current_layout.split(','),function(index,value) {
              //生成对应的html标签
              for(i=1; i<=parseInt(value); i++) {
                  if(i == parseInt(value)) {
                     container.append('<div id='+index+' class="dragging cc portlet-'+(24/parseInt(value))+' last"></div>');
                  }else{
                      container.append('<div id='+index+' class="dragging cc portlet-'+(24/parseInt(value))+'"></div>');
                  }
              }
          });
      }
  });

</script>