<%= form_for(@irm_portal_layout,:url=>{:action=>"create"},:builder => CustomFormBuilder) do |f| %>


  <% content_for :form_block_a   do%>
    <table class="form-table">
      <tbody>
          <tr>
            <td class="label-col"><label for="name"><%=t(:label_irm_portal_layout_name)%></label></td>
            <td class="data-col"><%=f.text_field :name, :required=>true ,:id=>"name"%></td>
            <td class="label-col empty">&nbsp;</td>
            <td class="data-col empty">&nbsp;</td>
          </tr>
          <tr>
            <td class="label-col"><label for="layout"><%=t(:label_irm_portal_layout_format)%></label></td>
            <td class="data-col"><%=f.text_field :layout, :required=>true ,:id=>"layout"%></td>
            <td class="label-col empty">&nbsp;</td>
            <td class="data-col empty">&nbsp;</td>
          </tr>

          <tr>
            <td class="label-col"><label for="default_flag"><%=t(:default_flag)%></label></td>
            <td class="data-col">
              <label for="default_flag"><%= f.check_box(:default_flag) %></label>

            </td>
            <td class="label-col empty">&nbsp;</td>
            <td class="data-col empty">&nbsp;</td>
          </tr>
          <tr>
            <td class="label-col"><label for="description"><%=t(:label_irm_portal_layout_description)%></label></td>
            <td class="data-col" colspan="3" width="82%"><%=f.text_area :description,:rows=>4,:cols=>60 ,:id=>"description"%></td>
          </tr>
      </tbody>
    </table>
  <% end %>
  <% content_for :form_buttons  do %>
    <%= link_submit t(:save),{:class=>"btn btn-primary"}%>
    <%= link_back t(:cancel),{},{:class=>"btn cancel"}%>
  <% end %>



  <!--页面结构-->
  <div class="page-block">
    <table class="page-block-header"><tr>
      <td class="page-block-title">
        <h2 class="block-title"><%=t(:label_irm_portal_layout)%></h2>
      </td>
      <td class="page-block-button">
        <%= content_for :form_buttons   %>

      </td>
    </tr></table>
    <div class="page-block-body">
      <%= error_for @portlet %>
      <div class="sub-page-block">
        <div class="sub-page-block-header">
          <%= form_require_info %>
          <h3 class="sub-page-block-title"><%= t(:label_common_info) %></h3>
        </div>
        <div class="sub-page-block-body">
          <%= content_for :form_block_a   %>
        </div>
      </div>

    </div>

    <table class="page-block-footer"><tr>
      <td class="page-block-title">
      </td>
      <td class="page-block-button">
        <%= content_for :form_buttons   %>
      </td>
    </tr></table>
  </div>

<% end %>




