<%= common_title(:action_meaning=>t(:label_skm_channel_management)) %>

<div class="listRelatedObject setupBlock">
    <div class="page-block">
      <div class="pbHeader">
        <table cellpadding="0" cellspacing="0" border="0">
          <tbody>
            <tr>
              <td class="pbTitle"><h2 class="mainTitle"><%= t(:label_irm_select_result) %>&nbsp;<%= t(:label_detail_info) %></h2></td>
              <td id="topButtonRow" class="pbButton">
                <%= form_for(@channel_group,:url=>{:action=>"create_skm_channels", :id => @group.id},:builder => LabellingFormBuilder) do |f| %>
                  <%= f.hidden_field(:status_code) %>
                  <div class="button"><%= f.submit t(:save)%></div>
                  <div class="button"><%= link_to(t(:cancel),{:controller =>"irm/groups",:action=>"show",:id=>@group.id})%></div>
                <% end %>
              </td>
              <td class="pbHelp">
                <div id="selectableChannelsSearchBox"></div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="pbBody">
        <%= error_for @channel_group %>
        <div id="avaChannelGroupList" class="datatable" style="width:100%">
        </div>
        <%= datatable("avaChannelGroupList",{:controller => "skm/channels", :action=>"get_ava_channels",:group_id=>@group.id,:format=>:json},
                  [{:key=>"id",:label=>t(:operation),:hidden=>true,:width=>"60px"},
                   {:key=>"channel_code",:label=>t(:label_skm_channel_code), :searchable => true,:width=>"100px"},
                   {:key=>"name",:label=>t(:name), :searchable => true,:width=>"150px"},
                   {:key=>"description",:label=>t(:description)},
                   {:key=>"status_code",:label=>t(:active),:formatter=>"Y.irm.template", :width => "40px"}],
                   {:paginator_box=>"channelsPaginator",:search_box=>"selectableChannelsSearchBox",:select=>"multiple"})%>
        <div id="channelsPaginator"></div>
      </div>
    </div>
</div>
<script type="text/javascript">
  Ext.onReady(function(){
      var setSelectedValue = function(selModel,selected){
          var ids = [];
          for(var i = 0;i<selected.length;i++){
            ids.push(selected[i].data.id);
          }
          $("#skm_channel_group_status_code").val(ids.join(","));
      };
      Ext.getCmp("avaChannelGroupListDatatable").selModel.addListener("selectionchange",setSelectedValue);
});
</script>