<%= setting_title %>
<%= form_for(@function,:url=>{:action=>"create"},:builder => CustomFormBuilder) do |f| %>


  <% content_for :form_block_a   do%>
    <table class="form-table">
      <tbody>
          <tr>
            <td class="label-col"><label><%=(t :label_irm_function_group_code)%></label></td>
            <td class="data-col"><%=f.select :function_group_id,nullable_options_for_select(available_function_group,nil),
                                                  {},{:id=>"incident_request_support_person_id"}%></td>
            <td class="label-col empty">&nbsp;</td>
            <td class="data-col empty">&nbsp;</td>
          </tr>
          <tr>
            <td class="label-col"><label><%=(t :label_irm_function_function_code)%></label></td>
            <td class="data-col"><%=f.text_field :code, :required=>true,:irm_uppercase=>true%></td>
            <td class="label-col empty">&nbsp;</td>
            <td class="data-col empty">&nbsp;</td>
          </tr>
          <tr>
            <td class="label-col"><label><%=(t :label_irm_function_name)%></label></td>
            <td class="data-col"><%=f.text_field :name, :required=>true%></td>
            <td class="label-col empty">&nbsp;</td>
            <td class="data-col empty">&nbsp;</td>
          </tr>
          <tr>
            <td class="label-col"><label><%=(t :label_irm_function_default_flag)%></label></td>
            <td class="data-col"><%=f.check_box(:default_flag)%></td>
            <td class="label-col empty">&nbsp;</td>
            <td class="data-col empty">&nbsp;</td>
          </tr>
          <tr>
            <td class="label-col"><label><%=(t :label_irm_function_public_flag)%></label></td>
            <td class="data-col"><%=f.check_box(:public_flag)%></td>
            <td class="label-col empty">&nbsp;</td>
            <td class="data-col empty">&nbsp;</td>
          </tr>
          <tr>
            <td class="label-col"><label><%=t(:label_irm_function_description)%></label></td>
            <td class="data-col"><%= f.text_area :description, :rows => 4%></td>
            <td class="label-col empty">&nbsp;</td>
            <td class="data-col empty">&nbsp;</td>
          </tr>
      </tbody>
    </table>
  <% end %>
  <% content_for :form_buttons  do %>
    <%= link_submit t(:save),{:class=>"btn btn-primary"}%>
    <%= link_back t(:cancel),{},{:class=>"btn cancel"}%>
  <% end %>



  <!--页面结构-->
  <div class="page-block">
    <table class="page-block-header"><tr>
      <td class="page-block-title">
        <h2 class="block-title"><%=t(:label_irm_function_new)%></h2>
      </td>
      <td class="page-block-button">
        <%= content_for :form_buttons   %>

      </td>
    </tr></table>
    <div class="page-block-body">
      <div class="sub-page-block">
        <div class="sub-page-block-header">
          <%= form_require_info %>
          <h3 class="sub-page-block-title"><%= t(:label_common_info) %></h3>
        </div>
        <div class="sub-page-block-body">
          <%= error_for @function_group %>
          <%= content_for :form_block_a   %>
        </div>
      </div>

    </div>

    <table class="page-block-footer"><tr>
      <td class="page-block-title">
      </td>
      <td class="page-block-button">
        <%= content_for :form_buttons   %>
      </td>
    </tr></table>
  </div>

<% end %>
