<!--页面结构-->
<div class="show-block">
  <table class="page-block-header"><tr>
    <td class="page-block-title">
      <h2 class="block-title"><%= t(:label_irm_ldap_syn_header_org_title) %></h2>
    </td>
    <td class="page-block-button"></td>
  </tr></table>
  <div class="page-block-body">
    <table class="show-table">
      <tbody>
      <tr>
        <td class="label-col"><label ><%=t(:label_irm_ldap_syn_header_org_syn_flag)%></label></td>
        <td class="data-col"><%= check_img(@ldap_syn_header.org_syn_flag) %></td>
        <td class="label-col"><label ><%=t(:label_irm_ldap_syn_header_org_level)%></label></td>
        <td class="data-col"><div><%= @ldap_syn_header.org_level %></div></td>
      </tr>
      <tr>
        <td class="label-col"><label ><%=t(:label_irm_ldap_syn_header_org_filter)%></label></td>
        <td class="data-col"><div><%= @ldap_syn_header.org_filter %></div></td>
        <td class="label-col"><label ><%=t(:label_irm_ldap_syn_header_org_desc)%></label></td>
        <td class="data-col"><%= @ldap_syn_header.org_desc %></td>
      </tr>
      </tbody>
    </table>
  </div>
</div>

<!--页面结构-->
<div class="page-block">
  <table class="page-block-header"><tr>
    <td class="page-block-title">
      <h2 class="block-title"><%= t(:label_irm_ldap_syn_attribute_org_list) %></h2>
    </td>
    <td class="page-block-button"></td>
  </tr></table>
  <div class="page-block-body">
    <%= datatable("org_syn_attributes",{:controller => "irm/ldap_syn_attributes", :action=>"get_data",:ah_id => @ldap_syn_header.id,:type=>@ldap_syn_header.org_object},[]) %>
  </div>
</div>
