<%= common_title(:show_data=>@language[:description]) %>
<!--页面结构-->
<div class="show-block">
  <!-- 人员信息 -->
  <table class="page-block-header">
    <tr>
        <td class="page-block-title">
          <h2 class="block-title"><%= t(:label_irm_language_show) %>&nbsp;<%= t(:label_detail_info) %></h2>
        </td>
        <td class="page-block-button">
          <%= link_to t(:edit), {:action => "edit", :id => @language},:class=>"btn btn-primary" %>
          <%= link_to t(:new),{:action => "new"},:class => "btn" %>
          <%= link_to t(:back), {:action => "index"},:class=>"btn"%>
        </td>
    </tr>
  </table>
  <!-- 一般信息 -->
  <table class="page-block-header">
    <tr>
      <td class="page-block-title"><h2 class="block-title"><%= t(:label_common_info) %>:</h2></td>
    </tr>
  </table>
  <div class="page-block-body">
    <table class="show-table">
      <tbody>
          <tr>
            <td class="label-col"><label><%=(t :label_irm_language_language_code)%></label></td>
            <td class="data-col"><%=@language.language_code%></td>
            <td class="label-col empty">&nbsp;</td>
            <td class="data-col empty">&nbsp;</td>
          </tr>
          <tr>
            <td class="label-col"><label><%=(t :label_irm_language_description)%></label></td>
            <td class="data-col"><%= @language[:description]%></td>
            <td class="label-col empty">&nbsp;</td>
            <td class="data-col empty">&nbsp;</td>
          </tr>
          <tr>
            <td class="label-col"><label><%=(t :label_irm_language_installed_flag)%></label></td>
            <td class="data-col"><%= check_img(@language.installed_flag)%></td>
            <td class="label-col empty">&nbsp;</td>
            <td class="data-col empty">&nbsp;</td>
          </tr>
      </tbody>
    </table>
  </div>
</div>

