<body style="padding:5px;">
  <%= form_tag({:action=>"lov_result"},{:id=>"theForm",:class=>"well form-search",:nomask=>"true",:method=>:get,:target=>"resultsFrame",:name=>"theForm"}) do %>
    <%= hidden_params_field(:lkfm) %>
    <%= hidden_params_field(:lkfid) %>
    <%= hidden_params_field(:lkvfid) %>
    <input type="text" class="input-medium search-query" id="lksrch"  placeholder="<%= t(:search) %>" maxlength="80" name="lksrch" size="20" value="<%=params[:lksrch]%>">
    <button type="submit" class="btn" name="go" title="转至！"> 转至！ </button>
    <span class="help-inline">可使用"%"作为通配符跟在其它字符后面以提高搜索效率。</span>
  <% end %>
</body>

