<%= common_title %>
<!--页面结构-->
<div class="page-block">
  <table class="page-block-header">
    <tr>
      <td class="page-block-title">
        <h2 class="block-title"><%= t(:label_dip_category) %></h2>
      </td>
      <td class="page-block-help">
        <div id="searchBox"></div>
      </td>
    </tr>
  </table>

  <div class="page-block-body">
    <table class="split-table" cellpadding="0" cellspacing="0">
      <tr>
        <td class="side-bar">
          <%= render :partial => "/irm/common/tree_sidebar_template", :locals => {:tree_url => url_for(:controller => "dip/dip_category", :action => "get_tree_data",:type=>Dip::DipConstant::CATEGORY_REPORT, :format => :json),
                                                                                  :tree_id => "tree-div",
                                                                                  :target_table => "data_table",
                                                                                  :li_attrs => "id"} %>
        </td>
        <td class="side-content" style="padding-left: 2px">
          <%= datatable("data_table", {:action => "get_data_authorized", :controller => "dip/dip_report"}, [], {:search_box => "searchBox", :paginator_box => "paginatorBox", :scroll => {:mode => "xy"}}) %>
        </td>
      </tr>
    </table>
  </div>
</div>
<%= render "dip/template/select_excel_format" %>

<script type="text/javascript">
    $(document).ready(function () {
        $("#tree-div").bind('nodeListener', function (event, element) {
            var params = {};
            params['categoryId'] = element.attr('id');
            var current_target = $("#data_table").data("datatable").target;
            current_target.data.options.defaultOptions = params;
            current_target.data.options.searchOptions = {};
            current_target.loadPage(1);
        });
    });
</script>