<%= common_title %>
<!--页面结构-->
<div class="show-block">
  <table class="page-block-header"><tr>
    <td class="page-block-title">
      <h2 class="block-title"><%= @wf_mail_alert.name %></h2>
    </td>
    <td class="page-block-button">
      <%= link_to t(:edit), {:action => "edit", :id => @wf_mail_alert},{:class=>"btn"}%>
      <%= link_back t(:cancel),{},{:class=>"btn"}%>
    </td>
  </tr></table>
  <div class="page-block-body">
    <table class="show-table">
      <tbody>
          <tr>
            <td class="labelCol"><label ><%=t(:label_irm_wf_mail_alert_name)%></label></td>
            <td class="dataCol"><div><%= @wf_mail_alert.name %></div></td>
            <td class="labelCol"><label ><%=t(:label_irm_wf_mail_alert_mail_template_code)%></label></td>
            <td class="dataCol"><div><%= @wf_mail_alert[:mail_template_name] %></div></td>
          </tr>
          <tr>
            <td class="labelCol"><label ><%=t(:label_irm_wf_mail_alert_mail_alert_code)%></label></td>
            <td class="dataCol"><div><%= @wf_mail_alert.mail_alert_code %></div></td>
            <td class="labelCol"><label ><%=t(:label_irm_wf_mail_alert_bo_code)%></label></td>
            <td class="dataCol"><div><%= @wf_mail_alert[:bo_name] %></div></td>
          </tr>
          <tr>
            <td class="labelCol"><label ><%=t(:label_irm_wf_mail_recipients)%></label></td>
            <td class="dataCol" colspan="3" width="82%">
              <div>
                <% @bo_duel_value = bo_person_field_duel_values(@wf_mail_alert.bo_code,[Irm::ExternalSystem.name]);meaning = duel_meaning(@wf_mail_alert.get_recipient_str,@bo_duel_value) %>
                <% if meaning.any? %>
                    <% meaning.each do |r| %>
                        <div><%= r %></div>
                    <% end %>
                <% end %>
              </div>
            </td>

          </tr>
          <tr>
            <td class="labelCol"><label ><%=t(:label_irm_wf_mail_alert_description)%></label></td>
            <td class="dataCol" colspan="3" width="82%"><div><%= @wf_mail_alert.description %></div></td>
          </tr>
          <tr>
            <td class="labelCol"><label ><%=t(:label_irm_wf_mail_alert_additional_email)%></label></td>
            <td class="dataCol" colspan="3" width="82%"><div><%= @wf_mail_alert.additional_email %></div></td>
          </tr>
          <tr>
            <td class="labelCol"><label ><%=t(:label_irm_wf_mail_alert_from_email)%></label></td>
            <td class="dataCol" colspan="3" width="82%"><div><%= @wf_mail_alert.from_email %></div></td>
          </tr>
      </tbody>
    </table>
  </div>
</div>

<%= render :partial => "irm/wf_actions/relation_rule_process",:locals => {:action_type=>@wf_mail_alert.class.name,:action_id=>@wf_mail_alert.id} %>

